
/* Legal information
 *
 * Monoset Clojure/ClojureScript web application framework
 * https://monotech.hu/monoset
 *
 * Copyright Adam Szűcs and other contributors - All rights reserved */



/***** Hide scrollbar *****/
/***** Hide scrollbar *****/



/* */

.popup-b {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

/* */

/* */

.popup-b--cover {
  background-color: var( --black-semi-transparent );
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* */

/* */

/* */
