
/***** Popup B *****/
/*** Wrapper ***/

.l-popup-b {
  align-items:     center;
  display:         flex;
  height:          100vh;
  justify-content: center;
  left:            0;
  position:        fixed;
  top:             0;
  width:           100%
}

/*** Wrapper ***/

/*** Cover ***/

.l-popup-b--cover {
  background-color: var( --black-semi-transparent );
  height:           100%;
  left:             0;
  position:         absolute;
  top:              0;
  width:            100%;
}

/*** Cover ***/
/***** Popup B *****/
