
/* Legal information
 *
 * Monoset Clojure/ClojureScript Library
 * https://monotech.hu/monoset
 *
 * Copyright Adam Szűcs and other contributors - All rights reserved */



/* Sidebar A */

#sidebar-a {
  background-color: var( --background-color-invert );
  background-color: var( --fill-color-invert );
  height: 100vh;
  position: sticky;
  top: 0;
}

/* Sidebar A */

/* Content */

#sidebar-a--content {
  height: 100%;
  overflow-y: hidden;
}

/* Content */
