
/* Legal information
 *
 * Monoset Clojure/ClojureScript web application framework
 * https://monotech.hu/monoset
 *
 * Copyright Adam Szűcs and other contributors - All rights reserved */



/* Sidebar A */

#sidebar-a {
  -background-color: var( --background-color-invert );
  -background-color: var( --fill-color-invert );
  -background-color: #535353;
  padding:  15px;
  height:   100vh;
  position: sticky;
  top:      0;
}

/* Sidebar A */

/* Content */

#sidebar-a--content {
  background-color: #4a5661;
  border-radius: var( --border-radius-m );
  height: 100%;
  overflow-y: hidden;
}

/* Content */
