
# log files
environment/log

# uploaded files
environment/media/storage/*
environment/media/thumbnails/*

# default thumbnail & sample file
!environment/media/thumbnails/default.png
!environment/media/storage/sample.png

# config files
resources/public/x.app-build.edn

# mono-app
mono-app.jar

# system files
.DS_Store
node_modules
resources/public/js/core
Procfile
system.properties
log
.cpcache
.shadow-cljs
.idea
monoset.iml
