
# log files
monoset-environment/log

# uploaded files
monoset-environment/media/storage/*
monoset-environment/media/thumbnails/*

# default thumbnail & sample file
!monoset-environment/media/thumbnails/default.png
!monoset-environment/media/storage/0ce14671-e916-43ab-b057-0939329d4c1b.png

# monoset files
monoset-environment/x.server-config.edn

# system files
.DS_Store
node_modules
resources/public/js/core
Procfile
system.properties
log
.cpcache
.shadow-cljs
.idea
monoset.iml
