
{:paths ["source-code/clj" "source-code/cljc" "source-code/cljs"]
 :deps  {monotech-hq/x5 {:git/url "git@github.com:monotech-hq/x5"
                         :sha     "93b603012691a79d57e57ee2bd190681a50e2cd2"}}}
