
{:paths ["source-code/clj" "source-code/cljc" "source-code/cljs"]
 :deps  {monotech-hq/x5 {:git/url "git@github.com:monotech-hq/x5"
                         :sha     "e71d65dae01303ef05591bf90fb785401c6dfd98"}}}
