
;; -- Names -------------------------------------------------------------------
;; ----------------------------------------------------------------------------

; @name cache-control?
;  TODO ...



;; -- Configuration -----------------------------------------------------------
;; ----------------------------------------------------------------------------

{; @param (map) app-details
 ;  {:author (string)
 ;   :app-build (string)
 ;   :app-home (string)
 ;   :app-languages (keywords in vector)
 ;   :app-themes (maps in vector)
 ;    [{:name (metamorphic-content)
 ;      :id (keyword)}]
 ;   :app-title (string)}
 ;
 ; @usage
 ;  {:app-details {:app-home "/"}}
 ;
 ; @usage
 ;  {:app-details {:app-home "/admin"}}
 ;
 ; @usage
 ;  {:app-details {:app-themes [{:id :my-theme :name "My theme"}
 ;                              {:id :light    :name :light-theme}]}}
 :app-details
 {:author        "bithandshake"
  :app-build     "0.0.1"
  :app-home      "/admin"
  :app-languages [:en :hu]
  :app-themes    [{:id :light :name :light-theme}
                  {:id :dark  :name :dark-theme}]
  :app-title     "x4"}


 ; @param (map) browser-details
 ;  {:theme-color (string)
 ;    Theme color must be hex!
 ;    https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta/name/theme-color}
 :browser-details
 {:theme-color "#111111"}


 ; @param (map) database-details
 ;  {:database-host (string)
 ;   :database-name (string)
 ;   :database-port (integer)}
 :database-details
 {:database-host "127.0.0.1"
  :database-name "x"
  :database-port 27017}


 ; @param (map) seo-details
 ;  {:meta-description (string)
 ;   :meta-keywords (strings in vector or string)
 ;   :og-preview-path (string)
 ;    Recommended preview-size: 1200x630px}
 :seo-details
 {:meta-description "The Matrix is everywhere. It is all around us."
 ;:meta-keywords    ["a" "b" "c"]
 ;:meta-keywords    "a, b, c"
  :meta-keywords    ["Follow the white rabbit!"]
  :og-preview-path  "/og/og-preview-1200x630.png"}


 ; @param (map) storage-details
 ;  {:max-upload-size (B)
 ;   :storage-capacity (B)}
 :storage-details
 {:max-upload-size   1000000000
  :storage-capacity 15000000000}


 ; @param (maps in vector) css-paths
 ;  [{:cache-control? (boolean)(opt)
 ;     Default: false
 ;    :uri (string)}]
 :css-paths
 [{:uri "/css/site.css" :cache-control? true}]


 ; @param (maps in vector) favicon-paths
 ;  [{:cache-control? (boolean)(opt)
 ;     Default: false
 ;    :uri (string)}]
 :favicon-paths
 [{:uri "/favicon/blue/favicon-16.png"  :cache-control? true :size "16x16"}
  {:uri "/favicon/blue/favicon-32.png"  :cache-control? true :size "32x32"}
  {:uri "/favicon/blue/favicon-96.png"  :cache-control? true :size "96x96"}
  {:uri "/favicon/blue/favicon-144.png" :cache-control? true :size "144x144"}]


 ; @param (map) js-details
 ;  {:core-js-dir (string)
 ;   :default-js-dir (string)
 ;   :plugins-js-dir (string)}
 :js-details
 {:core-js-dir     "/js/core"
  :plugins-js-dir  "/js/plugins"
  :default-core-js "app.js"}


 ; @param (maps in vector) plugin-js-paths
 ;  [{:cache-control? (boolean)(opt)
 ;     Default: false
 ;    :uri (string)}]
 :plugin-js-paths
 []}
;[{:uri "/js/plugins/external-plugin.js" :cache-control? true}
; {:uri "https://external-plugin.com/plugin.js"}]
