
/***** Color picker *****/
/*** Component ***/

.c-color-picker {
  display: flex;
}

/*** Component ***/

/*** Body ***/

.c-color-picker--body {
  display: flex;
}

/*** Body ***/

/*** Placeholder ***/

.c-color-picker--placeholder {
  column-gap: 12px;
  display: flex;
}

/*** Placeholder ***/

/*** Color stamp ***/

.c-color-picker--color-stamp {

}

/*** Color stamp ***/
/***** Color picker *****/



/***** Compact list header *****/
/*** Body ***/

.c-compact-list-header--body {
  align-items: center;
  display: flex;
}

.c-compact-list-header--body .e-text-field {
  flex-grow: 1;
}

/*** Body ***/
/***** Compact list header *****/



/***** Ghost view *****/
/*** Body ***/

.c-ghost-view[data-layout="box-surface"] {
  width: 100%;
}

/*** Body ***/
/***** Ghost view *****/



/***** Illustration *****/
/*** Body ***/

.c-illustration--body {
  background-position: bottom center;
  background-repeat:   no-repeat;
  background-size:     contain;
}

/*** Body ***/
/***** Illustration *****/



/***** Input block *****/
/*** Label ***/

.c-input-block--label {
  align-items: center;
  -background-color: var( --fill-color-default );
  display: flex;
  min-height: 48px;
}

.c-input-block--label:not(:first-child)::after {
  background-color: var( --border-color-highlight );
  content: '';
  height: 100%;
  left: -1px;
  position: absolute;
  top: 0;
  width: 1px;
}

/*** Label ***/

/*** Input ***/

.c-input-block--input {
  align-items: center;
  -background-color: var( --fill-color-default );
  display: grid;
  height: 100%;
}

.c-input-block--input:not(:first-child)::after {
  background-color: var( --border-color-highlight );
  content: '';
  height: calc(100% - 24px);
  left: -1px;
  position: absolute;
  top: 12px;
  width: 1px;
}

/*** Input ***/
/***** Input block *****/



/***** Input table *****/
/*** Body ***/

.c-input-table--body {
  background-color: var( --border-color-highlight );
  display: flex;
  flex-direction: column;
  grid-gap: 1px;
}

/*** Body ***/

/*** Row ***/

.c-input-table--row {
  display: grid;
}

.c-input-table--row > div,
.c-input-table--row > label {
  background-color: var( --fill-color-default );
}

/*** Row ***/
/***** Input table *****/



/***** Item list header *****/

.c-item-list-header {
  background-color: var( --fill-color-default );
  display: grid;
  opacity: .98;
}

.c-item-list-header[data-border="both"] {
  border-bottom: 1px solid var( --border-color-highlight );
  border-top:    1px solid var( --border-color-highlight );
}

.c-item-list-header[data-border="bottom"] {
  border-bottom: 1px solid var( --border-color-highlight );
}

.c-item-list-header[data-border="top"] {
  border-top: 1px solid var( --border-color-highlight );
}

.c-item-list-header > div:not(:last-child):after {
  background-color: var( --border-color-highlight );
  -content: '';
  position: absolute;
  right: 0;
  width: 1px;
  top: 12px;
  height: calc( 100% - 24px );
}

.c-item-list-header--cell[data-click-effect]:hover::before {
  background-color: var( --fill-color-highlight );
  border-radius: var(--border-radius-xs);
  content: '';
  height: calc(100% - 8px);
  left: 4px;
  position: absolute;
  top: 4px;
  width: calc(100% - 8px);
}

/***** Item list header *****/



/***** Item list row *****/

.c-item-list-row {
  display: grid;
}

.c-item-list-row > div:not(:last-child):after {
  background-color: var( --border-color-highlight );
  content: '';
  position: absolute;
  right: 0;
  width: 1px;
  top: 18px;
  height: calc( 100% - 36px );
}

/***** Item list row *****/



/***** List item avatar *****/

.c-list-item-avatar {
  align-items: center;
  display: flex;
  height: 72px;
  justify-content: center;
  width: 78px;
}

/***** List item avatar *****/



/***** List item button *****/

.c-list-item-button {
  align-items: center;
  display: flex;
  padding: 0 12px;
}

.c-list-item-button--body {
  flex-grow: 1;
}

/***** List item button *****/



/***** List item cell *****/

.c-list-item-cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
}

.c-list-item-cell[data-click-effect]:hover::before {
  background-color: var( --fill-color-highlight );
  border-radius: var(--border-radius-xs);
  content: '';
  height: calc(100% - 8px);
  left: 4px;
  position: absolute;
  top: 4px;
  width: calc(100% - 8px);
}

/***** List item cell *****/



/***** List item drag handle *****/

.c-list-item-drag-handle {
  align-items: center;
  cursor: grab;
  display: flex;
  justify-content: center;
  width: 48px;
}

/***** List item drag handle *****/



/***** List item icon *****/

.c-list-item-icon {
  align-items:     center;
  display:         flex;
  justify-content: center;
}

/***** List item icon *****/



/***** List item thumbnail *****/

.c-list-item-thumbnail {
  padding: 0 12px;
  width: 108px;
}

.c-list-item-thumbnail--icon {
  padding: 24px 30px;
}

/***** List item thumbnail *****/



/***** Menu table *****/

.c-menu-table--label {
  border-bottom: 1px solid var( --border-color-highlight );
  padding-bottom: 6px;
}

.c-menu-table--body {
  padding-top: 12px;
}

/***** Menu table *****/



/***** Side menu *****/
/*** Body ***/

.c-side-menu--body {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 48px);
  position: sticky;
  top: 48px;
}

/*** Body ***/
/***** Side menu *****/



/***** Side menu button *****/
/*** Body ***/

.c-side-menu-button--body {
  display: flex;
}

/*** Body ***/
/***** Side menu button *****/



/***** Side menu footer *****/
/*** Component ***/

.c-side-menu-footer {
  align-items: flex-end;
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

/*** Component ***/
/***** Side menu footer *****/



/***** User avatar *****/
/***** Initials *****/

.c-user-avatar--initials {
  align-items: center;
  background-color: var( --fill-color-highlight );
  border-radius: 50%;
  display: flex;
  font-size: var( --font-size-s );
  font-weight: 600;
  height: 100%;
  justify-content: center;
  letter-spacing: var( --letter-spacing-s );
  line-height: var( --line-height-s );
  width: 100%;
}

/***** Initials *****/

/***** Icon *****/

.c-user-avatar--icon {
  align-items: center;
  background-color: var( --fill-color-highlight );
  border-radius: 50%;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

/***** Icon *****/

/***** Colors *****/

.c-user-avatar--colors {
  position: absolute;
  top: 0;
}

.c-user-avatar--color {
  fill: transparent;
  transform-origin: center;
}

/***** Colors *****/
/***** User avatar *****/



/***** Vector item controls *****/
/*** Body ***/

.c-vector-item-controls--body {
  display: flex;
  justify-content: flex-end;
}

/*** Body ***/
/***** Vector item controls *****/



/***** Vector item list *****/
/*** Placeholder ***/

.c-vector-item-list--placeholder {
  align-items:    center;
  display:        flex;
  flex-direction: column;
}

/*** Placeholder ***/
/***** Vector item list *****/
