
/***** Blank *****/
/*** Body ***/

.e-blank--body {
  /* XXX#6667
   * The blank element takes height property therefore its body has to fit into it. */
  height: 100%;
}

/*** Body ***/
/***** Blank *****/



/***** Breadcrumbs *****/
/*** Element ***/

.e-breadcrumbs {
  /* XXX#6668
   * No need to the breadcrumbs element be wider than its content. */
  width: fit-content;
}

/*** Element ***/

/*** Body ***/

.e-breadcrumbs--body {
  display: flex;
}

/*** Body ***/

/*** Crumb ***/

.e-breadcrumbs--crumb {
  max-width: 160px;
}

.e-breadcrumbs--separator {
  align-items: center;
  display:     flex;
  height:      24px;
}

.e-breadcrumbs--separator::after {
  background-color: var( --border-color-muted );
  border-radius:    3px;
  content:          '';
  height:           6px;
  opacity:          .6;
  width:            6px;
}

/*** Crumb ***/
/***** Breadcrumbs *****/



/***** Button *****/
/*** Body ***/

.e-button--body {
  align-items: center;
  cursor:      pointer;
  display:     flex;

  /* XXX#6669
   * The body element is a BUTTON tag therefore its width has to be set to fit
   * the body into its parent. */
  width: 100%;
}

/*** Body ***/
/***** Button *****/



/***** Card *****/
/*** Body ***/

.e-card--body {
  display:        flex;
  flex-direction: column;

  /* XXX#6667 */
  /* If the card element's height is limited by its parent element, in order to
   * apply the overflow property on the card's content, the card body element's
   * height has to be specified! */
  height: 100%;
}

/*** Body ***/
/***** Card *****/



/***** Checkbox *****/
/*** Element ***/

.e-checkbox {
  /* XXX#6668 */
  width: fit-content;
}

/*** Element ***/

/*** Options ***/

.e-checkbox--body[data-options-orientation="horizontal"] {
  display:    flex;
  column-gap: 24px;
}

/*** Options ***/

/*** Option ***/

.e-checkbox--option {
  display:        flex;
  padding-bottom: 6px;
  padding-top:    6px;
}

.e-checkbox--option-button {
  background-color: var( --fill-color-default );
  margin-right:     8px;
  margin-top:       2px;
}

.e-checkbox--option-label {
  /* XXX#5049 */
  text-align: left;
}

.e-checkbox--option-helper {
  color: var( --color-muted );

  /* XXX#5049 */
  text-align: left;
}

/*** Option ***/

/*** Marker ***/

.e-checkbox--option-button::after {
  content: '';
  font-size:   16px;
  height:      16px;
  line-height: 16px;
  width:       16px;
}

.e-checkbox--option[data-checked="true"] .e-checkbox--option-button::after {
  content: 'done';
}

/*** Marker ***/
/***** Checkbox *****/



/***** Chip *****/
/*** Body ***/

.e-chip--body {
  border-radius: 3px;
  display:       flex;
  height:        24px;
  padding-right: 12px;
}

/*** Body ***/

/*** Button ***/

.e-chip--primary-button {
  background-color: rgba(255, 255, 255, .65);
  border-radius:    3px;
  color:            var( --color-default );
  height:           20px;
  margin:           2px 12px 2px 2px;
  width:            20px;
}

.e-chip--primary-button-icon {
  align-items:     center;
  display:         flex;
  flex-direction:  column;
  font-size:       12px;
  justify-content: center;
  line-height:     20px;
}

.e-chip--primary-button--placeholder {
  width: 12px;
}

/*** Button ***/
/***** Chip *****/



/***** Chip-group *****/
/*** Element ***/

.e-chip-group {
  /* XXX#6668 */
  width: fit-content;
}

/*** Element ***/

/*** Chip-group chips ***/

.e-chip-group--chips {
  display:   flex;
  flex-wrap: wrap;
  gap:       12px;
}

/*** Chip-group chips ***/

/*** Chip-group no-chips label ***/

.e-chip-group--chips-placeholder {
  color: var( --color-highlight );
}

/*** Chip-group no-chips label ***/
/***** Chip-group *****/



/***** Circle diagram *****/
/*** Element ***/

.e-circle-diagram {
  align-items:     center;
  display:         flex;
  flex-direction:  column;
  justify-content: center;

  /* XXX#6668 */
  width: fit-content;
}

/*** Element ***/

/*** Section ***/

.e-circle-diagram--section {
  /* By using the transition property the animations lagged :(
 -transition: stroke-dasharray .5s ease-out; */

  fill: transparent;
  transform-origin: center;
}

/*** Section ***/
/***** Circle diagram *****/



/***** Color-selector *****/
/*** Color-selector options ***/

.e-color-selector--options-header {
  display: flex;
  justify-content: flex-end;
}

.e-color-selector--options-body {
  display:    flex;
  column-gap: 12px;
  padding:    12px;
}

/*** Color-selector options ***/

/*** Color-selector option ***/

.e-color-selector--option[data-collected="true"]::after {
  align-items: center;
  background-color: var( --fill-color-default );
  border-radius: 12px;
  color: var( --color-default );
  content: 'check';
  display: flex;
  font-size: var( --icon-size-xs );
  font-weight: 600;
  height: 20px;
  justify-content: center;
  left: 14px;
  line-height: 20px;
  position: absolute;
  top: 14px;
  width: 20px;
}

.e-color-selector--option--color {
  border-radius: var( --border-radius-m );
  height: 48px;
  width: 48px;
}

/*** Color-selector option ***/
/***** Color-selector *****/



/***** Column *****/
/*** Body ***/

.e-column--body {
  display: flex;
  flex-direction: column;

  /* XXX#6667 */
  /* The {height: 100%} setting is necessary to make the content vertically alignable! */
  height: 100%;
}

.e-column--body[data-wrap-items="true"] {
  flex-wrap: wrap;
}

/*** Body ***/
/***** Column *****/



/***** Combo-box *****/
/*** Combo-box options ***/

.e-combo-box--options {
  display: flex;
  flex-direction: column;
  max-height: 340px;
}

/*** Combo-box options ***/

/*** Combo-box option ***/

.e-combo-box--field-content-option,
.e-combo-box--option {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  padding: 8px 8px;
  text-align: left;
  width: 100%;
}

.e-combo-box--option[data-highlighted="true"] {
  background-color: var( --fill-color-highlight );
}

.e-combo-box--option:hover {
  background-color: var( --hover-color-highlight );
}

.e-combo-box--field-content-option {
  color: var( --color-muted )}

/*** Combo-box option ***/
/***** Combo-box *****/



/***** Content swapper *****/
/*** Header ***/

.e-content-swapper--header {
}

/*** Header ***/

/*** Body ***/

.e-content-swapper--body {
  display: flex;
}

/*** Body ***/

/*** Page buttons ***/

.e-content-swapper--page-buttons {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}

/*** Page buttons ***/

/*** Page ***/

.e-content-swapper--page {
  width: 100%;
}

/*** Page ***/
/***** Content swapper *****/



/***** Counter *****/
/*** Element ***/

.e-counter {
  /* XXX#6668 */
  width: fit-content;
}

/*** Element ***/

/*** Body ***/

.e-counter--body {
  align-items: center;
  display: flex;
  padding-bottom: 6px;
  padding-top: 6px;
}

/*** Body ***/

/*** Value ***/

.e-counter--value {
  font-weight: 500;
  line-height: 24px;
  min-width: 64px;
  text-align: center;
}

/*** Value ***/

/*** Button ***/

.e-counter--decrease-button,
.e-counter--increase-button,
.e-counter--reset-button {
  background-color: var( --fill-color-default );
  padding:          8px;
}

.e-counter--decrease-button::before,
.e-counter--increase-button::before,
.e-counter--increase-button::after,
.e-counter--reset-button::before,
.e-counter--reset-button::after {
  background-color: var( --color-default );
  border-radius: 1px;
  content: '';
  position: absolute;
}

.e-counter--decrease-button::before,
.e-counter--increase-button::before,
.e-counter--reset-button::before {
  height: 2px;
  left: 4px;
  top: 7px;
  width: 8px;
}

.e-counter--increase-button::after,
.e-counter--reset-button::after {
  height: 8px;
  left: 7px;
  top: 4px;
  width: 2px;
}

.e-counter--reset-button {
  margin-left: 12px;
}

.e-counter--reset-button::before,
.e-counter--reset-button::after {
  transform: rotateZ( -45deg );
}

/*** Button ***/
/***** Counter *****/



/***** Digit field *****/
/***** Element *****/

.e-digit-field {
  height: 48px;
}

/***** Element *****/

/***** Input *****/

.e-digit-field--input {
  color: var( --fill-color-default );
  height: 100%;
  width: 100%;
}

/***** Input *****/

/***** Cover *****/

.e-digit-field--cover {
  display: flex;
  column-gap: 12px;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.e-digit-field--cover--digit {
  align-items: center;
  border-color: var( --color-highlight );
  border-radius: var( --border-radius-s );
  border-style: solid;
  border-width: 1px;
  cursor: text;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  justify-content: center;
  height: 100%;
  width: 36px;
}

/***** Cover *****/
/***** Digit field *****/



/***** Dropdown menu *****/
/*** Element ***/

.e-dropdown-menu {
  /* XXX#6668 */
  width: fit-content;
}

/*** Element ***/

/*** Surface ***/

.e-dropdown-menu--surface {
  left: 0;
  min-width: 100%;
  position: absolute;
  z-index: 9999;
}

/*** Surface ***/
/***** Dropdown menu *****/



/***** Expandable *****/
/*** Element ***/

.e-expandable {
  /* XXX#6668 */
  width: fit-content;
}

/*** Element ***/

/*** Header ***/

.e-expandable--header {
  align-items:     center;
  display:         flex;
  justify-content: left;
}

/*** Header ***/

/*** Icon ***/

.e-expandable--icon {
  margin-right: 6px;
}

/*** Icon ***/

/*** Label ***/

.e-expandable--label {
  padding-right: 6px;
}

/*** Label ***/
/***** Expandable *****/



/***** File drop area *****/
/*** Body ***/

.e-file-drop-area--body {
  align-items: center;
  background-color: var( --fill-color-highlight );
  border-radius: var( --border-radius-xxl );
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 180px;
  justify-content: center;
  padding: 0 24px;
  width: 280px;
}

.e-file-drop-area--label {
  color: var( --color-muted );
}

/*** Body ***/
/***** File drop area *****/



/***** Ghost *****/
/*** Body ***/

.e-ghost--body {
  animation-iteration-count: infinite;
  animation-duration:        2s;
  animation-name:            opacity-1-05-1;
  background-color:          var( --ghost-color );

  /* XXX#6667 */
  height: 100%;
}

/*** Body ***/
/***** Ghost *****/



/***** Horizontal polarity *****/
/*** Body ***/

.e-horizontal-polarity--body {
  display:         flex;
  justify-content: space-between;
}

/*** Body ***/

/*** Content ***/

.e-horizontal-polarity--start-content,
.e-horizontal-polarity--middle-content,
.e-horizontal-polarity--end-content {
  display: flex;
}

/*** Content ***/
/***** Horizontal polarity *****/



/***** Icon *****/
/*** Element ***/

.e-icon {
  /* XXX#6668 */
  width: fit-content;
}

/*** Element ***/
/***** Icon *****/



/***** Icon-button *****/
/*** Element ***/

.e-icon-button {
  align-items:    center;
  display:        flex;
  flex-direction: column;

  /* XXX#6668 */
  width: fit-content;
}

/*** Element ***/

/*** Body ***/

.e-icon-button--body {
  cursor: pointer;
}

/*** Body ***/

/*** Icon-button label ***/

.e-icon-button--label {
  font-size:      var( --font-size-micro      );
  font-weight:    var( --font-weight-medium   );
  letter-spacing: var( --letter-spacing-micro );
  line-height:    var( --line-height-micro    );
}

/*** Icon-button label ***/
/***** Icon-button *****/



/***** Image *****/
/*** Body ***/

.e-image--body {
  height: 100%;
  width:  100%;
}

/*** Body ***/
/***** Image *****/



/***** Label *****/
/*** Element ***/

.e-label {
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* TEMP
   * 2022.11.26
   * A bubble elemen megjelenített hosszu feliratok kilogtak a bubble elemből.
   * Ha nem okoz máshol gondot, akkor a max-width beállítása maradhat véglegesen is majd! */
  max-width: 100%;
}

/*** Element ***/

/*** Body ***/

.e-label--body {
  align-items: center;
  display: flex;
}

/*** Body ***/

/*** Copyable ***/

.e-label--copyable {
  display: flex;
  max-width: 100%;
}

/*** Copyable ***/

/*** Icon ***/

.e-label--icon {
  flex-shrink:  0;
}

/*** Icon ***/

/*** Helper, info-text ***/

.e-label--helper,
.e-label--info-text {
  color: var( --color-muted );
}

/*** Helper, info-text ***/

/*** Info-text button ***/

.e-label--info-text-button {
  color: var( --color-muted );
}

/*** Info-text button ***/
/***** Label *****/



/***** Line diagram *****/
/*** Element ***/

.e-line-diagram {
  display:         flex;
  flex-direction:  column;
  justify-content: center;
}

/*** Element ***/

/*** Sections ***/

.e-line-diagram--sections {
  display: flex;
}

/*** Sections ***/

/*** Section ***/

.e-line-diagram--section {
  transition: width .5s ease-out;
  height: 100%;
}

/*** Section ***/
/***** Line diagram *****/



/***** Menu bar *****/
/*** Element ***/

.e-menu-bar {
  /* XXX#6668 */
  width: fit-content;
}

/*** Element ***/

/*** Item ***/

/* Az .e-menu-bar--menu-item elemben alkalmazott esztétikai távolságok (margin, padding),
 * meg kell feleljenek a felsorolt felhasználási módoknak:
 * 1. A menü-elemek kizárólag ikonokat jelenítenek meg
 * 2. A menü-elemek kizárólag feliratokat jelenítenek meg
 * 3. A menü-elemek ikonokat és feliratokat jelenítenek meg */
/* TODO
 * Az 1.-es és 3.-as (ikon-gomb és ikon-gomb felirattal) legyen egy külön elemtípus! */
.e-menu-bar--menu-item-body {
  align-items: center;
  display:     flex;

  /* If the item both displays label and icon, the column-gap property sets the distance
   * between them */
  column-gap: 6px;
}

/*** Item ***/
/***** Menu bar *****/



/***** Multi field *****/
/*** Element ***/

.e-multi-field {
  display: flex;
  flex-direction: column;

  /* Without using a gap, the text-fields might be placed too close to each other. */
  row-gap: 8px;
}

/*** Element ***/
/***** Multi field *****/



/***** Notification bubble *****/
/*** Body ***/

.e-notification-bubble--body {
  align-items:     center;
  display:         flex;
  justify-content: space-between;

  /* XXX#6667 */
  height: 100%;
}

/*** Body ***/
/***** Notification bubble *****/



/***** Radio button *****/
/*** Element ***/

.e-radio-button {
  /* XXX#6668 */
  width: fit-content;
}

/*** Element ***/

/*** Clear button ***/

.e-radio-button--clear-button {
  background-color: var( --fill-color-default );
  border-color:     var( --color-default );
  margin-bottom:    6px;
  margin-top:       6px;
  padding:          8px;
}

.e-radio-button--clear-button::before,
.e-radio-button--clear-button::after {
  background-color: var( --color-default );
  border-radius:    1px;
  content:          '';
  position:         absolute;
  transform:        rotateZ( -45deg );
}

.e-radio-button--clear-button::before {
  height: 2px;
  left:   4px;
  top:    7px;
  width:  8px;
}

.e-radio-button--clear-button::after {
  height: 8px;
  left:   7px;
  top:    4px;
  width:  2px;
}

/*** Clear button ***/

/*** Options ***/

.e-radio-button--body[data-options-orientation="horizontal"] {
  display:    flex;
  column-gap: 24px;
}

/*** Options ***/

/*** Option ***/

.e-radio-button--option {
  display:        flex;
  padding-bottom: 6px;
  padding-top:    6px;
}

.e-radio-button--option-label {
  /* XXX#5049
   * By using the {text-align: left} setting, no matter if the label or the helper
   * is longer, both of them are aligned to the left. */
  text-align: left;
}

.e-radio-button--option-helper {
  color: var( --color-muted );

  /* XXX#5049 */
  text-align: left;
}

/*** Option ***/

/*** Option button ***/

.e-radio-button--option-button {
  background-color: var( --fill-color-default );
  margin-bottom:    2px;
  margin-right:     8px;
  margin-top:       2px;
  padding:          8px;
}

/*** Option button ***/

/*** Option marker ***/

.e-radio-button--option[data-selected="true"]
.e-radio-button--option-button::before {
  animation-name:     opacity-0-1;
  animation-duration: .1s;
  background-color:   var( --color-default          );
  border-radius:      var( --adaptive-border-radius );
  content:            '';
  display:            block;
  height:             8px;
  left:               4px;
  position:           absolute;
  top:                4px;
  width:              8px;
}

/*** Option marker ***/
/***** Radio button *****/



/***** Row *****/
/*** Body ***/

.e-row--body {
  display: flex;
  width:   100%;

  /* XXX#6667 */
  /* The {height: 100%} setting is necessary to make the content vertically alignable! */
  height: 100%;
}

.e-row--body[data-wrap-items="true"] {
  flex-wrap: wrap;
}

/*** Body ***/
/***** Row *****/



/***** Select *****/
/*** Select button element ***/

.e-select-button {
  /* XXX#6668 */
  width: fit-content;
}

/*** Select button element ***/

/*** Select button body ***/

.e-select-button .e-button--body {
  justify-content: space-between;
}

.e-select-button .e-button--label {
  margin-left: 12px;
}

.e-select-button .e-button--icon {
  margin-right: 12px;
}

/*** Select button body ***/

/*** Options ***/

.e-select--option-list {
  display: flex;
  flex-direction: column;

  /* XXX#6667 */
  padding-bottom: 12px;
}

.e-select--options-placeholder {
  align-self: center;
  color: var( --color-highlight );
}

/*** Options ***/

/*** Option ***/

.e-select--option {
  display: flex;
  padding: 6px 36px;
  width:   100%;
}

.e-select--option:hover,
.e-select--option[data-selected="true"]:hover {
  background-color: var( --hover-color-highlight );
}

.e-select--option[data-selected="true"] {
  background-color: var( --fill-color-highlight );
}

.e-select--option[data-selected="true"]::before {
  background-color: var( --color-primary );
  border-radius:    50%;
  content:          '';
  height:           6px;
  left:             16px;
  position:         absolute;
  top:              16px;
  width:            6px;
}

/*** Option ***/

/*** Header ***/

.e-select--options--label {
  display: flex;
  justify-content: center;

  /* XXX#6667
   * The height of this label without content is 12px (horizontal padding x 2),
   * that's the same as the bottom padding of the option list,
   * therefore in case of no label defined, the top and bottom spacings are the same. */
  padding: 6px 12px;
}

/*** Header ***/
/***** Select *****/



/***** Separator *****/

.e-horizontal-separator,
.e-vertical-separator {
  flex-shrink: 0;
}

.e-horizontal-separator {
  width: 100%;
}

/***** Separator *****/



/***** Slider *****/
/*** Body ***/

.e-slider--body {
  height: 20px;
}

/*** Body ***/

/*** Track ***/

.e-slider--track {
  background-color: var( --fill-color-highlight );
  border-radius: 2px;
  height: 4px;
  left: 0;
  position: absolute;
  top: 8px;
  width: 100%;
}

/*** Track ***/

/*** Line ***/

.e-slider--line {
  cursor: grab;
  height: 10px;
  opacity: .3;
  position: absolute;
  top: 5px;
}

.e-slider--line::after {
  background-color: var( --border-color-primary );
  border-radius: 2px;
  content: '';
  height: 4px;
  position: absolute;
  top: 3px;
  width: 100%;
}

/*** Line ***/

/*** Thumb ***/

.e-slider--thumb {
  background-color: var( --border-color-primary );
  border-radius: 6px;
  cursor: grab;
  height: 20px;
  position: absolute;
  top: 0;
  width: 12px;
}

/*** Thumb ***/
/***** Slider *****/



/***** Switch *****/
/*** Element ***/

.e-switch {
  /* XXX#6668 */
  width: fit-content;
}

/*** Element ***/

/*** Options ***/

.e-switch--body[data-options-orientation="horizontal"] {
  display:    flex;
  column-gap: 24px;
}

/*** Options ***/

/*** Option ***/

.e-switch--option {
  align-items:    center;
  display:        flex;
  padding-bottom: 6px;
  padding-top:    6px;
}

.e-switch--option-track {
  background-color: var( --fill-color-default );
  margin-right:     6px;
  padding:          8px 18px;
}

.e-switch--option-label {
  /* XXX#5049 */
  text-align: left;
}

.e-switch--option-helper {
  color: var( --color-muted );

  /* XXX#5049 */
  text-align: left;
}

/*** Option ***/

/*** Thumb ***/

.e-switch--option-track::before {
  background-color: var( --color-default );
  border-radius:    50%;
  content:          '';
  display:          block;
  height:           12px;
  left:             2px;
  position:         absolute;
  top:              2px;
  transition:       transform .1s ease-out;
  width:            12px;
}

.e-switch--option[data-switched="true"] .e-switch--option-track::before {
  transform: translateX( 20px );
}

/*** Thumb ***/
/***** Switch *****/



/***** Text *****/
/*** Element ***/

.e-text {
  /* XXX#6668 */
  width: fit-content;
}

/*** Element ***/

/*** Body ***/

.e-text--body {
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* The word-break property can split words into chunks! Don't use it! */
  -word-break: break-all;
}

.e-text--body[data-cropped="true"] {
  justify-content: flex-start;
  overflow-y: hidden;
}

.e-text--body[data-cropped="true"]::after {
  background-image: linear-gradient(0deg, white, transparent);
  bottom: 0;
 -content: '';
  height: 10px;
  left: 0;
  position: absolute;
  width: 100%;
}

/*** Body ***/

/*** Copyable ***/

.e-text--copyable {
  display: flex;
  max-width: 100%;
}

/*** Copyable ***/

/*** Placeholder ***/

.e-text--placeholder {
  color: var( --color-highlight );
}

/*** Placeholder ***/
/***** Text *****/



/***** Text field *****/
/*** Input container ***/

/* The input container element contains the input and its accessories
 * (adornments, placeholder, etc.) */
.e-text-field--input-container {
  background-color: var( --fill-color-default );
  display: flex;
  justify-content: space-between;
}

/*** Input container ***/

/*** Input ***/

.e-text-field--input-structure {
  flex-grow: 1;
}

.e-text-field--input-emphasize {
  height: 100%;
  width: 100%;
}

.e-text-field--input {
  color:   var( --color-default );
  height:  100%;
  padding: 6px 0;
  width:   100%;

  /* The font-weight property doesn't inherited in input elements by default. */
  font-weight: inherit;
}

.e-text-field--input[type="date"] {
  cursor: text;
}

textarea.e-text-field--input {
  overflow: hidden;
  resize:   none;
}

/*** Input ***/

/*** Adornments ***/

.e-text-field--adornments {
  align-items: center;
  display: flex;

  /* XXX#0617 The text-field element has the same padding as the standard (12px) */
  padding: 0 12px;
}

.e-text-field--adornments-placeholder {
  cursor: text;

  /* XXX#0617 */
  width: 12px;
}

.e-text-field--adornment:not([data-icon-family]),
.e-text-field--adornment:not([data-icon-family]) {
  font-weight: 500;
  min-width: 24px;
  text-align: center;

  /* XXX#0617
   * The label adornment's padding and the adornment wrapper's padding adds up,
   * therefore the label adornments are 16px far from the edge, but this isn't
   * a problem, because the icon adornments (with no padding) look the same! */
  padding: 0 4px;
}

/*** Adornments ***/

/*** Placeholder ***/

.e-text-field--placeholder {
  color:       var( --color-muted);
  font-weight: 400;
  left:        0;
  max-width:   100%;
  padding:     6px 0;
  position:    absolute;
  top:         0;
}

/*** Placeholder ***/

/*** Surface ***/

.e-text-field--surface {
  background-color: var( --fill-color-default );
  border-radius: var( --border-radius-s );
  box-shadow: var( --box-shadow-black-xx-light );
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 36px;
  width: 100%;

  /* XXX#4376 (monotech-hq/x5)
   * The field surface has to be shown under (Z axis) the #x-app-bubbles element.
   * (x5 UI bubbles renderer) */
  z-index: 996;
}

/*** Surface ***/
/***** Text field *****/



/***** Thumbnail *****/
/*** Element ***/

.e-thumbnail {
  /* XXX#6668 */
  width: fit-content;
}

/*** Element ***/

/*** Body ***/

.e-thumbnail--body {
  overflow: hidden;
}

/*** Body ***/

/*** Image ***/

.e-thumbnail--image {
  background-position: center;
  background-repeat:   no-repeat;
  background-size:     cover;
  height:              100%;
  width:               100%;
}

/*** Image ***/

/*** Icon ***/

.e-thumbnail--icon {
  background-color: var( --fill-color-highlight );
  color:            var( --color-highlight );
  height:           100%;
  left:             0;
  position:         absolute;
  top:              0;
  width:            100%;
}

/*** Icon ***/
/***** Thumbnail *****/



/***** Toggle *****/
/*** Body ***/

.e-toggle--body {
  cursor:      pointer;
  display:     block;
  font-weight: 500;
  width:       100%;

  /* Overwriting the user-agent rule */
  text-align: left;

  /* XXX#6667 */
  height: 100%;
}

/*** Body ***/
/***** Toggle *****/



/***** Vertical line *****/
/*** Element ***/

.e-vertical-line {
  /* XXX#6668 */
  width: fit-content;
}

/*** Element ***/

/*** Body ***/

.e-vertical-line--body {
  height: 100%;
}

/*** Body ***/
/***** Vertical line *****/



/***** Vertical polarity *****/
/*** Element ***/

.e-vertical-polarity {
  /* XXX#6668 */
  width: fit-content;
}

.e-vertical-polarity {
  /* WARNING! DEPRECATED! DO NOT USE! */
 -width: 100%;
  /* WARNING! DEPRECATED! DO NOT USE! */
  height: 100%;
}

/*** Element ***/

/*** Body ***/

.e-vertical-polarity--body {
  display:         flex;
  flex-direction:  column;
  justify-content: space-between;
}

/*** Body ***/

/*** Content ***/

.e-vertical-polarity--start-content,
.e-vertical-polarity--middle-content,
.e-vertical-polarity--end-content {
  display: flex;
  flex-direction: column;
}

/*** Content ***/
/***** Vertical polarity *****/
