
; A fájl tartalomváltozásainak érvénybe lépéséhez szükséges újraindítani
; az applikációt!
;
; @param (map) app-config
;  {:app-domain (string)
;   :app-home (string)
;   :app-languages (keywords in vector)
;   :app-themes (maps in vector)
;    [{:name (metamorphic-content)
;      :id (keyword)}]
;   :app-title (string)
;   :author (string)
;   :css-paths (maps in vector)
;    [{:core-js (string)(opt)
;       A fájl kiszolgálása hozzárendelhető egy megadott kliensfájlhoz.
;      :route-template (string)(opt)
;       A fájl kiszolgálása hozzárendelhető egy megadott útvonalhoz.
;      :uri (string)}]
;   :favicon-paths (maps in vector)
;    [{:core-js (string)(opt)
;       A fájl kiszolgálása hozzárendelhető egy megadott kliensfájlhoz.
;      :route-template (string)(opt)
;       A fájl kiszolgálása hozzárendelhető egy megadott útvonalhoz.
;      :uri (string)}]
;   :plugin-js-paths (maps in vector)
;    [{:core-js (string)(opt)
;       A fájl kiszolgálása hozzárendelhető egy megadott kliensfájlhoz.
;      :route-template (string)(opt)
;       A fájl kiszolgálása hozzárendelhető egy megadott útvonalhoz.
;      :uri (string)}]
;   :theme-color (string)
;    Theme color must be hex!
;    https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta/name/theme-color
;
; @usage
;  {:app-home      "/"
;   :app-home      "/admin"
;   :app-themes    [{:id :my-theme :name "My theme"}
;                   {:id :light    :name :light-theme}]
;   :plugin-js-paths [{:uri "/js/plugins/external-plugin.js"}
;                     {:uri "https://external-plugin.com/plugin.js"}]}

{; App details
 :app-domain    "https://my-app.com"
 :app-home      "/admin"
 :app-languages [:en :hu]
 :app-themes    [{:id :light :name :light-theme}
                 {:id :dark  :name :dark-theme}]
 :app-title     "x4"
 :author        "Bit Handshake"

 ; Browser details
 :theme-color "#111111"

 ; CSS paths
 :css-paths
 [{:uri "/css/playground.css"}
  {:uri "/css/site.css" :core-js "site.js"}]

 ; Favicon paths
 :favicon-paths
 [{:uri "/favicon/blue/favicon-16.png"  :size "16x16"}
  {:uri "/favicon/blue/favicon-32.png"  :size "32x32"}
  {:uri "/favicon/blue/favicon-96.png"  :size "96x96"}
  {:uri "/favicon/blue/favicon-144.png" :size "144x144"}]

 ; JavaScript paths
 :plugin-js-paths
 []}
