
/***** Color *****/
/*** Black ***/

body {
  --black-semi-transparent: rgba(030, 030, 030, 0.850);
  --black-xx-dark:           rgb(000, 000, 000);
  --black-x-dark:            rgb(010, 010, 010);
  --black-dark:              rgb(020, 020, 020);
  --black:                   rgb(030, 030, 030);
  --black-light:             rgb(040, 040, 040);
  --black-x-light:           rgb(050, 050, 050);
  --black-xx-light:          rgb(060, 060, 060);
}

/*** Black ***/

/*** Grey ***/

body {
  --grey-semi-transparent: rgba(140, 140, 140, 0.850);
  --grey-xx-dark:           rgb(080,  80,  80);
  --grey-x-dark:            rgb(100, 100, 100);
  --grey-dark:              rgb(120, 120, 120);
  --grey:                   rgb(140, 140, 140);
  --grey-light:             rgb(160, 160, 160);
  --grey-x-light:           rgb(180, 180, 180);
  --grey-xx-light:          rgb(200, 200, 200);
}

/*** Grey ***/

/*** White ***/

body {
  --white-semi-transparent: rgba(240, 240, 240, 0.850);
  --white-xx-dark:           rgb(225, 225, 225);
  --white-x-dark:            rgb(230, 230, 230);
  --white-dark:              rgb(235, 235, 235);
  --white:                   rgb(240, 240, 240);
  --white-light:             rgb(245, 245, 245);
  --white-x-light:           rgb(250, 250, 250);
  --white-xx-light:          rgb(255, 255, 255);
}

/*** White ***/

/*** Hard blue ***/

body {
  --hard-blue-semi-transparent: rgba( 70, 210, 255, 0.850);
  --hard-blue-xx-dark:           rgb( 40, 180, 225);
  --hard-blue-x-dark:            rgb( 50, 190, 235);
  --hard-blue-dark:              rgb( 60, 200, 245);
  --hard-blue:                   rgb( 70, 210, 255);
  --hard-blue-light:             rgb( 80, 220, 255);
  --hard-blue-x-light:           rgb( 90, 230, 255);
  --hard-blue-xx-light:          rgb(100, 240, 255);
}

/*** Hard blue ***/

/*** Soft blue ***/

body {
  --soft-blue-semi-transparent: rgba(150, 210, 245, 0.850);
  --soft-blue-xx-dark:           rgb(120, 180, 215);
  --soft-blue-x-dark:            rgb(130, 190, 225);
  --soft-blue-dark:              rgb(140, 200, 235);
  --soft-blue:                   rgb(150, 210, 245);
  --soft-blue-light:             rgb(160, 220, 255);
  --soft-blue-x-light:           rgb(170, 230, 255);
  --soft-blue-xx-light:          rgb(180, 240, 255);
}

/*** Soft blue ***/

/*** Hard purple ***/

body {
  --hard-purple-semi-transparent: rgba(200, 000, 255, 0.850);
  --hard-purple-xx-dark:           rgb(170, 000, 225);
  --hard-purple-x-dark:            rgb(180, 000, 235);
  --hard-purple-dark:              rgb(190, 000, 245);
  --hard-purple:                   rgb(200, 000, 255);
  --hard-purple-light:             rgb(210, 010, 255);
  --hard-purple-x-light:           rgb(220, 020, 255);
  --hard-purple-xx-light:          rgb(230, 030, 255);
}

/*** Hard purple ***/

/*** Soft purple ***/

body {
  --soft-purple-semi-transparent: rgba(200, 090, 255, 0.850);
  --soft-purple-xx-dark:           rgb(170, 060, 225);
  --soft-purple-x-dark:            rgb(180, 070, 235);
  --soft-purple-dark:              rgb(190, 080, 245);
  --soft-purple:                   rgb(200, 090, 255);
  --soft-purple-light:             rgb(210, 100, 255);
  --soft-purple-x-light:           rgb(220, 110, 255);
  --soft-purple-xx-light:          rgb(230, 120, 255);
}

/*** Soft purple ***/

/*** Hard green ***/

body {
  --hard-green-semi-transparent: rgba(080, 255, 030, 0.850);
  --hard-green-xx-dark:           rgb(050, 225, 000);
  --hard-green-x-dark:            rgb(060, 235, 010);
  --hard-green-dark:              rgb(070, 245, 020);
  --hard-green:                   rgb(080, 255, 030);
  --hard-green-light:             rgb(090, 255, 040);
  --hard-green-x-light:           rgb(100, 255, 050);
  --hard-green-xx-light:          rgb(110, 255, 060);
}

/*** Hard green ***/

/*** Soft green ***/

body {
  --soft-green-semi-transparent: rgba(080, 255, 140, 0.850);
  --soft-green-xx-dark:           rgb(050, 225, 110);
  --soft-green-x-dark:            rgb(060, 235, 120);
  --soft-green-dark:              rgb(070, 245, 130);
  --soft-green:                   rgb(080, 255, 140);
  --soft-green-light:             rgb(090, 255, 150);
  --soft-green-x-light:           rgb(100, 255, 160);
  --soft-green-xx-light:          rgb(110, 255, 170);
}

/*** Soft green ***/

/*** Hard red ***/

body {
  --hard-red-semi-transparent: rgba(255, 000, 130, 0.850);
  --hard-red-xx-dark:           rgb(235, 000, 100);
  --hard-red-x-dark:            rgb(245, 000, 110);
  --hard-red-dark:              rgb(245, 000, 120);
  --hard-red:                   rgb(255, 000, 130);
  --hard-red-light:             rgb(255, 010, 140);
  --hard-red-x-light:           rgb(255, 020, 150);
  --hard-red-xx-light:          rgb(255, 030, 160);
}

/*** Hard red ***/

/*** Soft red ***/

body {
  --soft-red-semi-transparent: rgba(255, 090, 130, 0.850);
  --soft-red-xx-dark:           rgb(235, 060, 100);
  --soft-red-x-dark:            rgb(245, 070, 110);
  --soft-red-dark:              rgb(245, 080, 120);
  --soft-red:                   rgb(255, 090, 130);
  --soft-red-light:             rgb(255, 100, 140);
  --soft-red-x-light:           rgb(255, 110, 150);
  --soft-red-xx-light:          rgb(255, 120, 160);
}

/*** Soft red ***/
/***** Color *****/
