
/* BUG#9081
 * Google Chrome version 77.0.3
 * macOS Mojave version 10.14.6
 * The browser round up the line height values in textarea elements to whole numbers,
 * therefore it's important to use whole numbers as line heights, otherwise
 * the components which calculates it's height based on the line count and the line height
 * might be calculates a different height for themeselves from what the browser calculated. */

/* XXX#0661
 * The font size and icon size values are synchronized to each other.
 * When you put an :m sized icon next to an :m sized text, they both look
 * the same size. */

/* XXX#0662
 * The basic range from :xxs to :xxl wasn't enough for fonts and icons.
 * One of the solutions was that the step value between sizes has to be increased
 * or the step value has to be unstandardized.
 * Extending the size range with extra sizes seemed a bit more sophisticated
 * solution than modifing the standardized step values. */

/* REM:
 * Equal to the computed value of font-size on the root element.
 * When specified on the font-size property of the root element,
 * the rem units refer to the property’s initial value. */



/***** Font *****/
/*** Default ***/

 html {
   font-size: 10px;
 }

 body {
   font-family:    'Montserrat';
   font-size:      var( --font-size-s      );
   letter-spacing: var( --letter-spacing-s );
   line-height:    var( --line-height-s    );
   font-weight:    400;
 }

/***** Default *****/

/*** Font size ***/

body {
  --font-size-xxs: 1.0rem;
  --font-size-xs:  1.2rem;
  --font-size-s:   1.4rem;
  --font-size-m:   1.6rem;
  --font-size-l:   1.8rem;
  --font-size-xl:  2.0rem;
  --font-size-xxl: 2.2rem;
  --font-size-3xl: 2.4rem;
  --font-size-4xl: 2.6rem;
  --font-size-5xl: 2.8rem;
}

/*** Font size ***/

/*** Letter spacing ***/

body {
  --letter-spacing-xxs: 0.05rem;
  --letter-spacing-xs:  0.06rem;
  --letter-spacing-s:   0.07rem;
  --letter-spacing-m:   0.08rem;
  --letter-spacing-l:   0.09rem;
  --letter-spacing-xl:  0.10rem;
  --letter-spacing-xxl: 0.11rem;
  --letter-spacing-3xl: 0.12rem;
  --letter-spacing-4xl: 0.13rem;
  --letter-spacing-5xl: 0.14rem;
}

/*** Letter spacing ***/

/*** Line height ***/

body {
  --line-height-xxs: 1.5rem;
  --line-height-xs:  1.8rem;
  --line-height-s:   2.1rem;
  --line-height-m:   2.4rem;
  --line-height-l:   2.7rem;
  --line-height-xl:  3.0rem;
  --line-height-xxl: 3.3rem;
  --line-height-3xl: 3.6rem;
  --line-height-4xl: 3.9rem;
  --line-height-5xl: 4.2rem;
}

/*** Line height ***/
/***** Font *****/
