
/* @name app-edge
 * M, L, XL, XXL méretű kijelzőkön a box elemben megjelenített tartalom és a képernyő széle
 * közötti esztétikai távolság.
 * XXS, XS, S méretű kijelzőkön helytakarékosság miatt az app-edge értéke 0%.
 *
 * @name app-width
 * app-width = 100% - app-edge
 * XXS, XS, S méretű kijelzőkön helytakarékosság miatt az app-width értéke 100%.
 *
 * @name content-width
 * ...
 *
 * Az x4.7.9 verzió óta az app-edge és app-width szélessége vw mértékegység helyett,
 * % mértékegységet használ, mivel az esetlegesen megjelenített oldalsáv miatt
 * az app-surface szélesség már nem 100vw!
 */



/***** Layout *****/
/*** Block height ***/

body {
  /* XXX#0662 (resources/css/profiles/font.css) */
  --block-height-xxs: 24px;
  --block-height-xs:  24px;
  --block-height-s:   24px;
  --block-height-m:   24px;
  --block-height-l:   36px;
  --block-height-xl:  36px;
  --block-height-xxl: 48px;
  --block-height-3xl: 48px;
  --block-height-4xl: 48px;
  --block-height-5xl: 48px;
}

/*** Block height ***/

/*** Element width ***/

body {
  --data-element-width-xxs:  60px;
  --data-element-width-xs:  120px;
  --data-element-width-s:   180px;
  --data-element-width-m:   240px;
  --data-element-width-l:   300px;
  --data-element-width-xl:  360px;
  --data-element-width-xxl: 420px;
  --data-element-width-3xl: 420px;
  --data-element-width-4xl: 480px;
  --data-element-width-5xl: 540px;
}

/*** Element width ***/
/***** Layout *****/





/******* XXS VIEWPORT SIZE *******/
/***** Layout *****/
/*** App ***/

body[data-viewport-profile="xxs"] {
  /* XXX#8607 */
  --app-edge:    0%;
  --app-width: 100%;
}

/*** App ***/

/*** Content width ***/

body[data-viewport-profile="xxs"] {
  --content-width-xxs: var( --app-width );
  --content-width-xs:  var( --app-width );
  --content-width-s:   var( --app-width );
  --content-width-m:   var( --app-width );
  --content-width-l:   var( --app-width );
  --content-width-xl:  var( --app-width );
  --content-width-xxl: var( --app-width );
}

/*** Content width ***/
/***** Layout *****/
/******* XXS VIEWPORT SIZE *******/



/******* XS VIEWPORT SIZE *******/
/***** Layout *****/
/*** App ***/

body[data-viewport-profile="xs"] {
  /* XXX#8607 */
  --app-edge:    0%;
  --app-width: 100%;
}

/*** App ***/

/*** Content width ***/

body[data-viewport-profile="xs"] {
  --content-width-xxs: 305px;
  --content-width-xs:  var( --app-width );
  --content-width-s:   var( --app-width );
  --content-width-m:   var( --app-width );
  --content-width-l:   var( --app-width );
  --content-width-xl:  var( --app-width );
  --content-width-xxl: var( --app-width );
}

/*** Content width ***/
/***** Layout *****/
/******* XS VIEWPORT SIZE *******/



/******* S VIEWPORT SIZE *******/
/***** Layout *****/
/*** App ***/

body[data-viewport-profile="s"] {
  /* XXX#8607 */
  --app-edge:    0%;
  --app-width: 100%;
}

/*** App ***/

/*** Content width ***/

body[data-viewport-profile="s"] {
  --content-width-xxs: 305px;
  --content-width-xs:  345px;
  --content-width-s:   var( --app-width );
  --content-width-m:   var( --app-width );
  --content-width-l:   var( --app-width );
  --content-width-xl:  var( --app-width );
  --content-width-xxl: var( --app-width );
}

/*** Content width ***/
/***** Layout *****/
/******* S VIEWPORT SIZE *******/



/******* M VIEWPORT SIZE *******/
/***** Layout *****/
/*** App ***/

body[data-viewport-profile="m"] {
  --app-edge:  12px;
  --app-width: calc(100% - 24px);
}

/*** App ***/

/*** Content width ***/

body[data-viewport-profile="m"] {
  --content-width-xxs: 305px;
  --content-width-xs:  345px;
  --content-width-s:   460px;
  --content-width-m:   var( --app-width );
  --content-width-l:   var( --app-width );
  --content-width-xl:  var( --app-width );
  --content-width-xxl: var( --app-width );
}

/*** Content width ***/
/***** Layout *****/
/******* M VIEWPORT SIZE *******/



/******* L VIEWPORT SIZE *******/
/***** Layout *****/
/*** App ***/

body[data-viewport-profile="l"] {
  --app-edge:  12px;
  --app-width: calc(100% - 24px);
}

/*** App ***/

/*** Content width ***/

body[data-viewport-profile="l"] {
  --content-width-xxs: 305px;
  --content-width-xs:  345px;
  --content-width-s:   460px;
  --content-width-m:   690px;
  --content-width-l:   var( --app-width );
  --content-width-xl:  var( --app-width );
  --content-width-xxl: var( --app-width );
}

/*** Content width ***/
/***** Layout *****/
/******* L VIEWPORT SIZE *******/



/******* XL VIEWPORT SIZE *******/
/***** Layout *****/
/*** App ***/

body[data-viewport-profile="xl"] {
  --app-edge:  12px;
  --app-width: calc(100% - 24px);
}

/*** App ***/

/*** Content width ***/

body[data-viewport-profile="xl"] {
  --content-width-xxs:  305px;
  --content-width-xs:   345px;
  --content-width-s:    460px;
  --content-width-m:    690px;
  --content-width-l:    980px;
  --content-width-xl:  1440px;
  --content-width-xxl: var( --app-width );
}

/*** Content width ***/
/***** Layout *****/
/******* XL VIEWPORT SIZE *******/



/******* XXL VIEWPORT SIZE *******/
/***** Layout *****/
/*** App ***/

body[data-viewport-profile="xxl"] {
  --app-edge:  12px;
  --app-width: calc(100% - 24px);
}

/*** App ***/

/*** Content width ***/

body[data-viewport-profile="xxl"] {
  --content-width-xxs:  305px;
  --content-width-xs:   345px;
  --content-width-s:    460px;
  --content-width-m:    690px;
  --content-width-l:    980px;
  --content-width-xl:  1440px;
  --content-width-xxl: 2160px;
}

/*** Content width ***/
/***** Layout *****/
/******* XXL VIEWPORT SIZE *******/
