
/***** Blank *****/
/*** Body ***/

.pe-blank--body {}

/*** Body ***/
/***** Blank *****/



/***** Breadcrumbs *****/
/*** Element ***/

.pe-breadcrumbs {
  /* XXX#6668
   * No need to the breadcrumbs element be wider than its content. */
  width: fit-content;
}

/*** Element ***/

/*** Body ***/

.pe-breadcrumbs--body {
  display: flex;
}

/*** Body ***/

/*** Crumb ***/

.pe-breadcrumbs--crumb {
  max-width: 160px;
}

.pe-breadcrumbs--separator {
  align-items: center;
  display:     flex;
  height:      24px;
}

.pe-breadcrumbs--separator::after {
  background-color: var( --border-color-muted );
  border-radius:    3px;
  content:          '';
  height:           6px;
  opacity:          .6;
  width:            6px;
}

/*** Crumb ***/
/***** Breadcrumbs *****/



/***** Button *****/
/*** Body ***/

.pe-button--body {
  align-items: center;
  display:     flex;
}

/*** Body ***/
/***** Button *****/



/***** Card *****/
/*** Body ***/

.pe-card--body {
  display:        flex;
  flex-direction: column;
}

/*** Body ***/
/***** Card *****/



/***** Checkbox *****/
/*** Element ***/

.pe-checkbox {
  /* XXX#6668 */
  width: fit-content;
}

/*** Element ***/

/*** Options ***/

.pe-checkbox--body[data-options-orientation="horizontal"] {
  display:    flex;
  column-gap: 24px;
}

/*** Options ***/

/*** Option ***/

.pe-checkbox--option {
  display:        flex;
  padding-bottom: 6px;
  padding-top:    6px;
}

.pe-checkbox--option-button {
  background-color: var( --fill-color-default );
  margin-right:     8px;
  margin-top:       2px;
}

.pe-checkbox--option-label {
  /* XXX#5049 */
  text-align: left;
}

.pe-checkbox--option-helper {
  color: var( --text-color-muted );

  /* XXX#5049 */
  text-align: left;
}

/*** Option ***/

/*** Marker ***/

.pe-checkbox--option-button::after {
  content: '';
  font-size:   16px;
  height:      16px;
  line-height: 16px;
  width:       16px;
}

.pe-checkbox--option[data-checked="true"] .pe-checkbox--option-button::after {
  content: 'done';
}

/*** Marker ***/
/***** Checkbox *****/



/***** Chip *****/
/*** Body ***/

.pe-chip--body {
  display: flex;
}

/*** Body ***/

/*** Content ***/

.pe-chip--content {
  padding-right: 6px;
}

/*** Content ***/

/*** Icon ***/

.pe-chip--icon-placeholder {
  height: 24px;
  width: 6px;
}

/*** Icon ***/

/*** Button ***/

.pe-chip--primary-button {
  background-color: rgba( 255, 255, 255, .65 );
  border-radius:    var( --adaptive-border-radius );
  color:            var( --text-color-default     );
  height:           20px;
  left:             2px;
  position:         absolute;
  top:              2px;
  width:            20px;
}

.pe-chip--primary-button-icon {
  align-items:     center;
  display:         flex;
  flex-direction:  column;
  font-size:       12px;
  justify-content: center;
  line-height:     20px;
}

.pe-chip--primary-button-spacer {
  height: 24px;
  width:  24px;
}

/*** Button ***/
/***** Chip *****/



/***** Chip-group *****/
/*** Element ***/

.pe-chip-group {
  /* XXX#6668 */
  width: fit-content;
}

/*** Element ***/

/*** Chip-group chips ***/

.pe-chip-group--chips {
  display:   flex;
  flex-wrap: wrap;
  gap:       12px;
}

/*** Chip-group chips ***/

/*** Chip-group no-chips label ***/

.pe-chip-group--chips-placeholder {
  color: var( --text-color-highlight );
}

/*** Chip-group no-chips label ***/
/***** Chip-group *****/



/***** Color-selector *****/
/*** Color-selector options ***/

.pe-color-selector--options {
  /* XXX#0610
   * Makes the popup above other contents */
    z-index: 9999;
}

.pe-color-selector--options--label {
  display: flex;
  justify-content: center;

  /* XXX#6661 */
  padding: 6px 12px;
}

.pe-color-selector--options-body {
  column-gap:      12px;
  display:         flex;
  justify-content: center;
  padding:         12px;
}

/*** Color-selector options ***/

/*** Color-selector option ***/

.pe-color-selector--option[data-collected="true"]::after {
  align-items: center;
  background-color: var( --fill-color-default );
  border-radius: 12px;
  color: var( --text-color-default );
  content: 'check';
  display: flex;
  font-size: var( --icon-size-xs );
  font-weight: 600;
  height: 20px;
  justify-content: center;
  left: 14px;
  line-height: 20px;
  position: absolute;
  top: 14px;
  width: 20px;
}

.pe-color-selector--option--color {
  border-radius: var( --border-radius-m );
  height: 48px;
  width: 48px;
}

/*** Color-selector option ***/
/***** Color-selector *****/



/***** Column *****/
/*** Body ***/

.pe-column--body {
  display: flex;
  flex-direction: column;
}

.pe-column--body[data-wrap-items="true"] {
  flex-wrap: wrap;
}

/*** Body ***/
/***** Column *****/



/***** Combo-box *****/
/*** Combo-box options ***/

.pe-combo-box--options {
  display: flex;
  flex-direction: column;
  max-height: 340px;
}

/*** Combo-box options ***/

/*** Combo-box option ***/

.pe-combo-box--field-content-option,
.pe-combo-box--option {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  padding: 8px 8px;
  text-align: left;
  width: 100%;
}

.pe-combo-box--option[data-highlighted="true"] {
  background-color: var( --fill-color-highlight );
}

.pe-combo-box--option:hover {
  background-color: var( --hover-color-highlight );
}

.pe-combo-box--field-content-option {
  color: var( --text-color-muted )}

/*** Combo-box option ***/
/***** Combo-box *****/



/***** Content swapper *****/
/*** Element ***/

.pe-content-swapper {
  /* XXX#0517 (source-code/cljs/pretty_elements/content_swapper/views.cljs) */
  height: 100%;
  width:  100%;
}

/*** Element ***/

/*** Body ***/

.pe-content-swapper--body {
  /* XXX#0517 (source-code/cljs/pretty_elements/content_swapper/views.cljs) */
  height: 100%;
  width:  100%;
}

.pe-content-swapper--body[data-animation-direction] {
  /* Because the appering / disappearing pages animated to move in LTR or RTL
   * directions, the body has to hide the overflowing pages during animations. */
  overflow-x: hidden;
}

/*** Body ***/

/*** Animations ***/

@keyframes e-content-swapper--swap-fwd-in {
  from {
    opacity:   0;
    transform: translateX(10%);
  }
  to {
    opacity:   1;
    transform: translateX(0);
  }
}

@keyframes e-content-swapper--swap-fwd-out {
  from {
    opacity:   1;
    transform: translateX(0);
  }
  to {
    opacity:   0;
    transform: translateX(-10%);
  }
}

@keyframes e-content-swapper--swap-bwd-in {
  from {
    opacity:   0;
    transform: translateX(-10%);
  }
  to {
    opacity:   1;
    transform: translateX(0);
  }
}

@keyframes e-content-swapper--swap-bwd-out {
  from {
    opacity:   1;
    transform: translateX(0);
  }
  to {
    opacity:   0;
    transform: translateX(10%);
  }
}

/*** Animations ***/

/*** Page ***/

.pe-content-swapper--page {
  animation-duration:  .3s;
  animation-fill-mode: both;
  position:            absolute;
  top:                 0;

  /* If the content-swapper body element has indent padding, the absolute
   * positioned page shouldn't inherit its size (100%) from the body! */
  height: -webkit-fill-available;
  width:  -webkit-fill-available;
}

.pe-content-swapper--body[data-animation-direction="fwd"] .pe-content-swapper--page.r-mounting {
  animation-name: e-content-swapper--swap-fwd-in;
}

.pe-content-swapper--body[data-animation-direction="fwd"] .pe-content-swapper--page.r-unmounting {
  animation-name: e-content-swapper--swap-fwd-out;
}

.pe-content-swapper--body[data-animation-direction="bwd"] .pe-content-swapper--page.r-mounting {
  animation-name: e-content-swapper--swap-bwd-in;
}

.pe-content-swapper--body[data-animation-direction="bwd"] .pe-content-swapper--page.r-unmounting {
  animation-name: e-content-swapper--swap-bwd-out;
}

/*** Page ***/
/***** Content swapper *****/



/***** Counter *****/
/*** Element ***/

.pe-counter {
  /* XXX#6668 */
  width: fit-content;
}

/*** Element ***/

/*** Body ***/

.pe-counter--body {
  align-items: center;
  display: flex;
  padding-bottom: 6px;
  padding-top: 6px;
}

/*** Body ***/

/*** Value ***/

.pe-counter--value {
  font-weight: 500;
  line-height: 24px;
  min-width: 64px;
  text-align: center;
}

/*** Value ***/

/*** Button ***/

.pe-counter--decrease-button,
.pe-counter--increase-button,
.pe-counter--reset-button {
  background-color: var( --fill-color-default );
  padding:          8px;
}

.pe-counter--decrease-button::before,
.pe-counter--increase-button::before,
.pe-counter--increase-button::after,
.pe-counter--reset-button::before,
.pe-counter--reset-button::after {
  background-color: var( --text-color-default );
  border-radius: 1px;
  content: '';
  position: absolute;
}

.pe-counter--decrease-button::before,
.pe-counter--increase-button::before,
.pe-counter--reset-button::before {
  height: 2px;
  left: 4px;
  top: 7px;
  width: 8px;
}

.pe-counter--increase-button::after,
.pe-counter--reset-button::after {
  height: 8px;
  left: 7px;
  top: 4px;
  width: 2px;
}

.pe-counter--reset-button {
  margin-left: 12px;
}

.pe-counter--reset-button::before,
.pe-counter--reset-button::after {
  transform: rotateZ( -45deg );
}

/*** Button ***/
/***** Counter *****/



/***** Data table *****/
/*** Column ***/

.pe-data-table--column {
  display: grid;
}

/*** Column ***/

/*** Row ***/

.pe-data-table--row {
  display: grid;
}

/*** Row ***/

/*** Cell ***/

.pe-data-table--cell {}

/*** Cell ***/
/***** Data table *****/



/***** Digit field *****/
/***** Element *****/

.pe-digit-field {
  height: 48px;
}

/***** Element *****/

/***** Input *****/

.pe-digit-field--input {
  color: var( --fill-color-default );
  height: 100%;
  width: 100%;
}

/***** Input *****/

/***** Cover *****/

.pe-digit-field--cover {
  display: flex;
  column-gap: 12px;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.pe-digit-field--cover--digit {
  align-items: center;
  border-color: var( --text-color-highlight );
  border-radius: var( --border-radius-s );
  border-style: solid;
  border-width: 1px;
  cursor: text;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  justify-content: center;
  height: 100%;
  width: 36px;
}

/***** Cover *****/
/***** Digit field *****/



/***** Dropdown menu *****/
/*** Element ***/

.pe-dropdown-menu {
  /* XXX#6668 */
  width: fit-content;
}

/*** Element ***/

/*** Surface ***/

.pe-dropdown-menu--surface {
  left: 0;
  min-width: 100%;
  position: absolute;
  z-index: 9999;
}

/*** Surface ***/
/***** Dropdown menu *****/



/***** Element group *****/
/***** Element group *****/



/***** Expandable *****/
/*** Element ***/

.pe-expandable {
  /* XXX#6668 */
  width: fit-content;
}

/*** Element ***/

/*** Header ***/

.pe-expandable--header {
  align-items:     center;
  display:         flex;
  justify-content: left;
}

/*** Header ***/

/*** Icon ***/

.pe-expandable--icon {
  margin-right: 6px;
}

/*** Icon ***/

/*** Label ***/

.pe-expandable--label {
  padding-right: 6px;
}

/*** Label ***/
/***** Expandable *****/



/***** Ghost *****/
/*** Body ***/

.pe-ghost--body {
  animation-iteration-count: infinite;
  animation-duration:        2s;
  animation-name:            opacity-1-05-1;
  background-color:          var( --ghost-color );
}

/*** Body ***/
/***** Ghost *****/



/***** Horizontal group *****/
/*** Body ***/

.pe-horizontal-group--body {
  display: flex;
  flex-direction: row;
}

/*** Body ***/
/***** Horizontal group *****/



/***** Horizontal polarity *****/
/*** Body ***/

.pe-horizontal-polarity--body {
  display:         flex;
  justify-content: space-between;
}

/*** Body ***/

/*** Content ***/

.pe-horizontal-polarity--start-content,
.pe-horizontal-polarity--middle-content,
.pe-horizontal-polarity--end-content {
  /* DEPRECATED! What was the purpose? */
  -display: flex;
}

/*** Content ***/
/***** Horizontal polarity *****/



/***** Horizontal separator *****/
/*** Body ***/

.pe-horizontal-separator--body {
  align-items: center;
  display:     flex;
}

/*** Body ***/

/*** Line ***/

.pe-horizontal-separator--line {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  height:              0px;
  flex-grow:           1;
}

/*** Line ***/

/*** Label ***/

.pe-horizontal-separator--label {
  font-weight: 500;
  padding:     0 18px;
}

/*** Label ***/
/***** Horizontal separator *****/



/***** Icon *****/
/*** Element ***/

.pe-icon {
  /* XXX#6668 */
  width: fit-content;
}

/*** Element ***/
/***** Icon *****/



/***** Icon-button *****/
/*** Element ***/

.pe-icon-button {
  align-items:    center;
  display:        flex;
  flex-direction: column;

  /* XXX#6668 */
  width: fit-content;
}

/*** Element ***/

/*** Icon-button label ***/

.pe-icon-button--label {
  font-size:      var( --font-size-micro      );
  font-weight:    var( --font-weight-medium   );
  letter-spacing: var( --letter-spacing-micro );
  line-height:    var( --line-height-micro    );
}

/*** Icon-button label ***/
/***** Icon-button *****/



/***** Image *****/
/*** Body ***/

.pe-image--body {}

/*** Body ***/
/***** Image *****/



/***** Label *****/
/*** Element ***/

.pe-label {
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* TEMP
   * 2022.11.26
   * A bubble elemen megjelenített hosszu feliratok kilogtak a bubble elemből.
   * Ha nem okoz máshol gondot, akkor a max-width beállítása maradhat véglegesen is majd! */
  max-width: 100%;
}

/*** Element ***/

/*** Body ***/

.pe-label--body {
  align-items: center;
  display: flex;
}

/*** Body ***/

/*** Copyable ***/

.pe-label--copyable {
  display: flex;
  max-width: 100%;
}

/*** Copyable ***/

/*** Icon ***/

.pe-label--icon {
  flex-shrink:  0;
}

/*** Icon ***/

/*** Helper, info-text ***/

.pe-label--helper,
.pe-label--info-text {
  color: var( --text-color-muted );
}

/*** Helper, info-text ***/

/*** Info-text button ***/

.pe-label--info-text-button {
  color: var( --text-color-muted );
}

/*** Info-text button ***/
/***** Label *****/



/***** Menu bar *****/
/*** Element ***/

.pe-menu-bar {
  /* XXX#6668 */
  width: fit-content;
}

/*** Element ***/

/*** Item ***/

/* Az .pe-menu-bar--menu-item elemben alkalmazott esztétikai távolságok (margin, padding),
 * meg kell feleljenek a felsorolt felhasználási módoknak:
 * 1. A menü-elemek kizárólag ikonokat jelenítenek meg
 * 2. A menü-elemek kizárólag feliratokat jelenítenek meg
 * 3. A menü-elemek ikonokat és feliratokat jelenítenek meg */
/* TODO
 * Az 1.-es és 3.-as (ikon-gomb és ikon-gomb felirattal) legyen egy külön elemtípus! */
.pe-menu-bar--menu-item-body {
  align-items: center;
  display:     flex;

  /* If the item both displays label and icon, the column-gap property sets the distance
   * between them */
  column-gap: 6px;
}

/*** Item ***/
/***** Menu bar *****/



/***** Multi combo-box *****/

.pe-multi-combo-box--body {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

/***** Multi combo-box *****/



/***** Multi field *****/
/*** Element ***/

.pe-multi-field {
  display: flex;
  flex-direction: column;

  /* Without using a gap, the text-fields might be placed too close to each other. */
  row-gap: 8px;
}

/*** Element ***/
/***** Multi field *****/



/***** Notification bubble *****/
/*** Body ***/

.pe-notification-bubble--body {
  align-items:     center;
  display:         flex;
  justify-content: space-between;
}

/*** Body ***/
/***** Notification bubble *****/



/***** Radio button *****/
/*** Element ***/

.pe-radio-button {
  /* XXX#6668 */
  width: fit-content;
}

/*** Element ***/

/*** Clear button ***/

.pe-radio-button--clear-button {
  background-color: var( --fill-color-default );
  border-color:     var( --text-color-default );
  margin-bottom:    6px;
  margin-top:       6px;
  padding:          8px;
}

.pe-radio-button--clear-button::before,
.pe-radio-button--clear-button::after {
  background-color: var( --text-color-default );
  border-radius:    1px;
  content:          '';
  position:         absolute;
  transform:        rotateZ( -45deg );
}

.pe-radio-button--clear-button::before {
  height: 2px;
  left:   4px;
  top:    7px;
  width:  8px;
}

.pe-radio-button--clear-button::after {
  height: 8px;
  left:   7px;
  top:    4px;
  width:  2px;
}

/*** Clear button ***/

/*** Options ***/

.pe-radio-button--body[data-options-orientation="horizontal"] {
  display:    flex;
  column-gap: 24px;
}

/*** Options ***/

/*** Option ***/

.pe-radio-button--option {
  display:        flex;
  padding-bottom: 6px;
  padding-top:    6px;
}

.pe-radio-button--option-label {
  /* XXX#5049
   * By using the {text-align: left} setting, no matter if the label or the helper
   * is longer, both of them are aligned to the left. */
  text-align: left;
}

.pe-radio-button--option-helper {
  color: var( --text-color-muted );

  /* XXX#5049 */
  text-align: left;
}

/*** Option ***/

/*** Option button ***/

.pe-radio-button--option-button {
  background-color: var( --fill-color-default );
  margin-bottom:    2px;
  margin-right:     8px;
  margin-top:       2px;
  padding:          8px;
}

/*** Option button ***/

/*** Option marker ***/

.pe-radio-button--option[data-selected="true"]
.pe-radio-button--option-button::before {
  animation-name:     opacity-0-1;
  animation-duration: .1s;
  background-color:   var( --text-color-default     );
  border-radius:      var( --adaptive-border-radius );
  content:            '';
  display:            block;
  height:             8px;
  left:               4px;
  position:           absolute;
  top:                4px;
  width:              8px;
}

/*** Option marker ***/
/***** Radio button *****/



/***** Row *****/
/*** Body ***/

.pe-row--body {
  display: flex;
  width:   100%;

  /* XXX#6667 */
  /* The {height: 100%} setting is necessary to make the content vertically alignable! */
  height: 100%;
}

.pe-row--body[data-wrap-items="true"] {
  flex-wrap: wrap;
}

/*** Body ***/
/***** Row *****/



/***** Select *****/
/*** Select button element ***/

.pe-select-button {
  /* XXX#6668 */
  width: fit-content;
}

/*** Select button element ***/

/*** Select button body ***/

.pe-select-button .pe-button--body {
  -justify-content: space-between;
}

.pe-select-button .pe-button--label {
  -margin-left: 12px;
}

.pe-select-button .pe-button--icon {
  -margin-right: 12px;
}

/*** Select button body ***/

/*** Options ***/

.pe-select--options {
  /* XXX#0610 */
  z-index: 9999;
}

.pe-select--option-list {
  display: flex;
  flex-direction: column;

  /* XXX#6661 */
  padding-bottom: 12px;
}

.pe-select--options-placeholder {
  align-self: center;
  color:      var( --text-color-highlight );
  padding:    0 36px;
}

/*** Options ***/

/*** Option ***/

.pe-select--option {
  display: flex;
  padding: 6px 36px;
  width:   100%;
}

.pe-select--option:hover,
.pe-select--option[data-selected="true"]:hover {
  background-color: var( --hover-color-highlight );
}

.pe-select--option[data-selected="true"] {
  background-color: var( --fill-color-highlight );
}

.pe-select--option[data-selected="true"]::before {
  background-color: var( --text-color-primary );
  border-radius:    50%;
  content:          '';
  height:           6px;
  left:             16px;
  position:         absolute;
  top:              16px;
  width:            6px;
}

/*** Option ***/

/*** Header ***/

.pe-select--options--label {
  display: flex;
  justify-content: center;

  /* XXX#6661
   * The height of this label without content is 12px (horizontal padding x 2),
   * that's the same as the bottom padding of the option list.
   * Therefore, in case of no label defined, the top and bottom spacings are the same. */
  padding: 6px 12px;
}

/*** Header ***/
/***** Select *****/



/***** Slider *****/
/*** Body ***/

.pe-slider--body {
  height: 20px;
}

/*** Body ***/

/*** Track ***/

.pe-slider--track {
  background-color: var( --fill-color-highlight );
  border-radius: 2px;
  height: 4px;
  left: 0;
  position: absolute;
  top: 8px;
  width: 100%;
}

/*** Track ***/

/*** Line ***/

.pe-slider--line {
  cursor: grab;
  height: 10px;
  opacity: .3;
  position: absolute;
  top: 5px;
}

.pe-slider--line::after {
  background-color: var( --border-color-primary );
  border-radius: 2px;
  content: '';
  height: 4px;
  position: absolute;
  top: 3px;
  width: 100%;
}

/*** Line ***/

/*** Thumb ***/

.pe-slider--thumb {
  background-color: var( --border-color-primary );
  border-radius: 6px;
  cursor: grab;
  height: 20px;
  position: absolute;
  top: 0;
  width: 12px;
}

/*** Thumb ***/
/***** Slider *****/



/***** Spacer *****/

.pe-horizontal-spacer,
.pe-vertical-spacer {
  flex-shrink: 0;
}

/***** Spacer *****/



/***** Switch *****/
/*** Element ***/

.pe-switch {
  /* XXX#6668 */
  width: fit-content;
}

/*** Element ***/

/*** Options ***/

.pe-switch--body[data-options-orientation="horizontal"] {
  display:    flex;
  column-gap: 24px;
}

/*** Options ***/

/*** Option ***/

.pe-switch--option {
  align-items:    center;
  display:        flex;
  padding-bottom: 6px;
  padding-top:    6px;
}

.pe-switch--option-track {
  background-color: var( --fill-color-default );
  margin-right:     6px;
  padding:          8px 18px;
}

.pe-switch--option-label {
  /* XXX#5049 */
  text-align: left;
}

.pe-switch--option-helper {
  color: var( --text-color-muted );

  /* XXX#5049 */
  text-align: left;
}

/*** Option ***/

/*** Thumb ***/

.pe-switch--option-track::before {
  background-color: var( --text-color-default );
  border-radius:    50%;
  content:          '';
  display:          block;
  height:           12px;
  left:             2px;
  position:         absolute;
  top:              2px;
  transition:       transform .1s ease-out;
  width:            12px;
}

.pe-switch--option[data-switched="true"] .pe-switch--option-track::before {
  transform: translateX( 20px );
}

/*** Thumb ***/
/***** Switch *****/



/***** Text *****/
/*** Body ***/

.pe-text--body {
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* The word-break property can split words into chunks! Don't use it! */
  -word-break: break-all;
}

.pe-text--body[data-cropped="true"] {
  justify-content: flex-start;
  overflow-y: hidden;
}

.pe-text--body[data-cropped="true"]::after {
  background-image: linear-gradient(0deg, white, transparent);
  bottom: 0;
 -content: '';
  height: 10px;
  left: 0;
  position: absolute;
  width: 100%;
}

/*** Body ***/

/*** Copyable ***/

.pe-text--copyable {
  display: flex;
  max-width: 100%;
}

/*** Copyable ***/
/***** Text *****/



/***** Text field *****/
/*** Input container ***/

/* The input container element contains the input and its accessories
 * (adornments, placeholder, etc.) */
.pe-text-field--input-container {
  background-color: var( --fill-color-default );
  display: flex;
  justify-content: space-between;
}

/*** Input container ***/

/*** Input ***/

.pe-text-field--input-structure {
  flex-grow: 1;
}

.pe-text-field--input-emphasize {
  height: 100%;
  width: 100%;
}

.pe-text-field--input {
  color:   var( --text-color-default );
  height:  100%;
  padding: 6px 0;
  width:   100%;

  /* The font-weight property doesn't inherited in input elements by default. */
  font-weight: inherit;
}

.pe-text-field--input[type="date"] {
  cursor: text;
}

textarea.pe-text-field--input {
  overflow: hidden;
  resize:   none;
}

/*** Input ***/

/*** Adornments ***/

.pe-text-field--adornments {
  align-items: center;
  display: flex;

  /* XXX#0617 The text-field element has the same padding as the standard (12px) */
  padding: 0 12px;
}

.pe-text-field--adornments-placeholder {
  cursor: text;

  /* XXX#0617 */
  width: 12px;
}

.pe-text-field--adornment:not([data-icon-family]),
.pe-text-field--adornment:not([data-icon-family]) {
  font-weight: 500;
  min-width: 24px;
  text-align: center;

  /* XXX#0617
   * The label adornment's padding and the adornment wrapper's padding adds up.
   * Therefore, the label adornments are 16px far from the edge, but this isn't
   * a problem, because the icon adornments (with no padding) look the same! */
  padding: 0 4px;
}

/*** Adornments ***/

/*** Invalid content message ***/

.pe-text-field--invalid-content-message {
  color:          var( --text-color-warning );
  font-size:      var( --font-size-xxs      );
  font-weight:    var( --font-weight-medium );
  letter-spacing: var( --letter-spacing-xxs );
  line-height:    18px;
  padding-top:    6px;
}

/*** Invalid content message ***/

/*** Placeholder ***/

.pe-text-field--placeholder {
  color:       var( --text-color-highlight );
  font-weight: 400;
  left:        0;
  max-width:   100%;
  padding:     6px 0;
  position:    absolute;
  top:         0;
}

/*** Placeholder ***/

/*** Surface ***/

.pe-text-field--surface {
  background-color: var( --fill-color-default );
  left: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: 9999;

  /* Adding +6px to the surface Y axis offset makes the surface shadow not
   * overlapping with the field border. */
 -top: 36px;
  top: 42px;
}

/*** Surface ***/

/*** Number field ***/

.pe-text-field--input::-webkit-outer-spin-button,
.pe-text-field--input::-webkit-inner-spin-button {
  /* Chrome, Safari, Edge, Opera */
  -webkit-appearance: none;
  margin: 0;
}

.pe-text-field--input[type="number"][type=number] {
  /* Firefox */
  -moz-appearance: textfield;
}

/*** Number field ***/
/***** Text field *****/



/***** Thumbnail *****/
/*** Body ***/

.pe-thumbnail--body {
  overflow: hidden;
}

/*** Body ***/

/*** Image ***/

.pe-thumbnail--image {
  background-position: center;
  background-repeat:   no-repeat;
  background-size:     cover;
  height:              100%;
  width:               100%;
}

/*** Image ***/

/*** Icon ***/

.pe-thumbnail--icon {
  background-color: var( --fill-color-highlight );
  color:            var( --text-color-highlight );
  height:           100%;
  left:             0;
  position:         absolute;
  top:              0;
  width:            100%;
}

/*** Icon ***/
/***** Thumbnail *****/



/***** Toggle *****/
/*** Body ***/

.pe-toggle--body {
  display:     block;
  font-weight: 500;
  width:       100%;

  /* Normalizing 'text-align' user agent rule */
  text-align: left;
}

/*** Body ***/
/***** Toggle *****/



/***** Vertical line *****/
/*** Element ***/

.pe-vertical-line {
  /* XXX#6668 */
  width: fit-content;
}

/*** Element ***/

/*** Body ***/

.pe-vertical-line--body {
  height: 100%;
}

/*** Body ***/
/***** Vertical line *****/



/***** Vertical polarity *****/
/*** Body ***/

.pe-vertical-polarity--body {
  display:         flex;
  flex-direction:  column;
  justify-content: space-between;
}

/*** Body ***/

/*** Content ***/

.pe-vertical-polarity--start-content,
.pe-vertical-polarity--middle-content,
.pe-vertical-polarity--end-content {
  display: flex;
  flex-direction: column;
}

/*** Content ***/
/***** Vertical polarity *****/
