
/*** Adornment ***/
/*** Wrapper ***/

.pe-adornment {
  /* XXX#6668 */
  width: fit-content;
}

/*** Wrapper ***/

/*** Label ***/

.pe-adornment--label {
  min-width:  24px;
 -text-align: center;
  padding:    0 4px;
}

/*** Label ***/
/*** Adornment ***/



/***** Adornment-group *****/
/*** Adornment list ***/

.pe-adornment-group--body {
  align-items: center;
  display: flex;
}

/*** Adornment list ***/
/***** Adornment-group *****/



/***** Blank *****/
/*** Body ***/

.pe-blank--body {}

/*** Body ***/
/***** Blank *****/



/***** Breadcrumbs *****/
/*** Wrapper ***/

.pe-breadcrumbs {
  /* XXX#6668
   * No need to the breadcrumbs element be wider than its content. */
  width: fit-content;
}

/*** Wrapper ***/

/*** Body ***/

.pe-breadcrumbs--body {
  display: flex;
}

/*** Body ***/

/*** Crumb ***/

.pe-breadcrumbs--crumb {
  max-width: 160px;
}

.pe-breadcrumbs--separator {
  align-items: center;
  display:     flex;
  height:      24px;
}

.pe-breadcrumbs--separator::after {
  background-color: var( --border-color-muted );
  border-radius:    3px;
  content:          '';
  height:           6px;
  opacity:          .6;
  width:            6px;
}

/*** Crumb ***/
/***** Breadcrumbs *****/



/***** Button *****/
/*** Body ***/

.pe-button--body {
  align-items: center;
  display:     flex;
}

/*** Body ***/
/***** Button *****/



/***** Card *****/
/*** Body ***/

.pe-card--body {
  display:        flex;
  flex-direction: column;
}

/*** Body ***/
/***** Card *****/



/***** Chip *****/
/*** Body ***/

.pe-chip--body {
  display: flex;
  gap:     4px;
}

/*** Body ***/
/***** Chip *****/



/***** Column *****/
/*** Body ***/

.pe-column--body {
  display: flex;
  flex-direction: column;
}

/*** Body ***/
/***** Column *****/



/***** Content swapper *****/
/*** Wrapper ***/

.pe-content-swapper {
  /* XXX#0517 (source-code/cljs/pretty_elements/content_swapper/views.cljs) */
  height: 100%;
  width:  100%;
}

/*** Wrapper ***/

/*** Body ***/

.pe-content-swapper--body {
  /* XXX#0517 (source-code/cljs/pretty_elements/content_swapper/views.cljs) */
  height: 100%;
  width:  100%;
}

.pe-content-swapper--body[data-animation-direction] {
  /* Because the appering / disappearing pages animated to move in LTR or RTL
   * directions, the body has to hide the overflowing pages during animations. */
  overflow-x: hidden;
}

/*** Body ***/

/*** Animations ***/

@keyframes e-content-swapper--swap-fwd-in {
  from {
    opacity:   0;
    transform: translateX(10%);
  }
  to {
    opacity:   1;
    transform: translateX(0);
  }
}

@keyframes e-content-swapper--swap-fwd-out {
  from {
    opacity:   1;
    transform: translateX(0);
  }
  to {
    opacity:   0;
    transform: translateX(-10%);
  }
}

@keyframes e-content-swapper--swap-bwd-in {
  from {
    opacity:   0;
    transform: translateX(-10%);
  }
  to {
    opacity:   1;
    transform: translateX(0);
  }
}

@keyframes e-content-swapper--swap-bwd-out {
  from {
    opacity:   1;
    transform: translateX(0);
  }
  to {
    opacity:   0;
    transform: translateX(10%);
  }
}

/*** Animations ***/

/*** Page ***/

.pe-content-swapper--page {
  animation-duration:  .3s;
  animation-fill-mode: both;
  position:            absolute;
  top:                 0;

  /* If the content-swapper body element has indent padding, the absolute
   * positioned page shouldn't inherit its size (100%) from the body! */
  height: -webkit-fill-available;
  width:  -webkit-fill-available;
}

.pe-content-swapper--body[data-animation-direction="fwd"] .pe-content-swapper--page.r-mounting {
  animation-name: e-content-swapper--swap-fwd-in;
}

.pe-content-swapper--body[data-animation-direction="fwd"] .pe-content-swapper--page.r-unmounting {
  animation-name: e-content-swapper--swap-fwd-out;
}

.pe-content-swapper--body[data-animation-direction="bwd"] .pe-content-swapper--page.r-mounting {
  animation-name: e-content-swapper--swap-bwd-in;
}

.pe-content-swapper--body[data-animation-direction="bwd"] .pe-content-swapper--page.r-unmounting {
  animation-name: e-content-swapper--swap-bwd-out;
}

/*** Page ***/
/***** Content swapper *****/



/***** Data table *****/
/*** Column ***/

.pe-data-table--column {
  display: grid;
}

/*** Column ***/

/*** Row ***/

.pe-data-table--row {
  display: grid;
}

/*** Row ***/

/*** Cell ***/

.pe-data-table--cell {}

/*** Cell ***/
/***** Data table *****/



/***** Dropdown menu *****/
/*** Wrapper ***/

.pe-dropdown-menu {
  /* XXX#6668 */
  width: fit-content;
}

/*** Wrapper ***/

/*** Surface ***/

.pe-dropdown-menu--surface {
  left: 0;
  min-width: 100%;
  position: absolute;
  z-index: 9999;
}

/*** Surface ***/
/***** Dropdown menu *****/



/***** Expandable *****/
/*** Wrapper ***/

.pe-expandable {
  /* XXX#6668 */
  width: fit-content;
}

/*** Wrapper ***/

/*** Header ***/

.pe-expandable--header {
  align-items:     center;
  display:         flex;
  justify-content: left;
}

/*** Header ***/

/*** Icon ***/

.pe-expandable--icon {
  margin-right: 6px;
}

/*** Icon ***/

/*** Label ***/

.pe-expandable--label {
  padding-right: 6px;
}

/*** Label ***/
/***** Expandable *****/



/***** Ghost *****/
/*** Body ***/

.pe-ghost--body {
  animation-iteration-count: infinite;
  animation-duration:        2s;
  animation-name:            opacity-1-05-1;
  background-color:          var( --ghost-color );
}

/*** Body ***/
/***** Ghost *****/



/***** Horizontal group *****/
/*** Body ***/

.pe-horizontal-group--body {
  display: flex;
  flex-direction: row;
}

/*** Body ***/
/***** Horizontal group *****/



/***** Horizontal separator *****/
/*** Body ***/

.pe-horizontal-separator--body {
  align-items: center;
  display:     flex;
}

/*** Body ***/

/*** Line ***/

.pe-horizontal-separator--line {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  height:              0px;
  flex-grow:           1;
}

/*** Line ***/

/*** Label ***/

.pe-horizontal-separator--label {
  font-weight: 500;
  padding:     0 18px;
}

/*** Label ***/
/***** Horizontal separator *****/



/***** Icon *****/
/*** Wrapper ***/

.pe-icon {
  /* XXX#6668 */
  width: fit-content;
}

/*** Wrapper ***/
/***** Icon *****/



/***** Icon-button *****/
/*** Wrapper ***/

.pe-icon-button {
  align-items:    center;
  display:        flex;
  flex-direction: column;

  /* XXX#6668 */
  width: fit-content;
}

/*** Wrapper ***/

/*** Body ***/

.pe-icon-button--body {
  display:         flex;
  justify-content: center;
}

/*** Body ***/

/*** Icon-button label ***/

.pe-icon-button--label {
  font-size:      var( --font-size-micro      );
  font-weight:    var( --font-weight-medium   );
  letter-spacing: var( --letter-spacing-micro );
  line-height:    var( --line-height-micro    );
}

/*** Icon-button label ***/
/***** Icon-button *****/



/***** Image *****/
/*** Body ***/

.pe-image--body {}

/*** Body ***/
/***** Image *****/



/***** Label *****/
/*** Wrapper ***/

.pe-label {
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* TEMP
   * 2022.11.26
   * A bubble elemen megjelenített hosszu feliratok kilogtak a bubble elemből.
   * Ha nem okoz máshol gondot, akkor a max-width beállítása maradhat véglegesen is majd! */
  max-width: 100%;
}

/*** Wrapper ***/

/*** Body ***/

.pe-label--body {
  display: flex;
}

/*** Body ***/

/*** Copyable ***/

.pe-label--copyable {
  display: flex;
  max-width: 100%;
}

/*** Copyable ***/

/*** Icon ***/

.pe-label--icon {
  flex-shrink:  0;
}

/*** Icon ***/

/*** Helper, info-text ***/

.pe-label--helper,
.pe-label--info-text {
  color: var( --text-color-muted );
}

/*** Helper, info-text ***/

/*** Info-text button ***/

.pe-label--info-text-button {
  color: var( --text-color-muted );
}

/*** Info-text button ***/
/***** Label *****/



/***** Menu bar *****/
/*** Wrapper ***/

.pe-menu-bar {
  /* DEPRECATED! It prevented the scrollability of the menu-bar. */
  /* XXX#6668 */
  -width: fit-content;
}

/*** Wrapper ***/

/*** Item ***/

/* */
/* Az .pe-menu-bar--menu-item elemben alkalmazott esztétikai távolságok (margin, padding),
 * meg kell feleljenek a felsorolt felhasználási módoknak:
 * 1. A menü-elemek kizárólag ikonokat jelenítenek meg
 * 2. A menü-elemek kizárólag feliratokat jelenítenek meg
 * 3. A menü-elemek ikonokat és feliratokat jelenítenek meg */
/* TODO
 * Az 1.-es és 3.-as (ikon-gomb és ikon-gomb felirattal) legyen egy külön elemtípus! */
.pe-menu-bar--menu-item-body {
  align-items: center;
  display:     flex;

  /* Sets the distance between item labels and icons.  */
  column-gap: 6px;
}

/*** Item ***/
/***** Menu bar *****/



/***** Notification bubble *****/
/*** Body ***/

.pe-notification-bubble--body {
  align-items:     center;
  display:         flex;
  justify-content: space-between;
}

/*** Body ***/
/***** Notification bubble *****/



/***** Row *****/
/*** Body ***/

.pe-row--body {
  display: flex;
  width:   100%;

  /* XXX#6667 */
  /* The {height: 100%} setting is necessary to make the content vertically alignable! */
  height: 100%;
}

/*** Body ***/
/***** Row *****/



/***** Spacer *****/

.pe-horizontal-spacer,
.pe-vertical-spacer {
  flex-shrink: 0;
}

/***** Spacer *****/



/***** Text *****/
/*** Body ***/

.pe-text--body {
  display: flex;
  flex-direction: column;

  /* The word-break property splits words into chunks! Don't use it! */
  -word-break: break-all;
}

.pe-text--body[data-cropped="true"] {
  justify-content: flex-start;
  overflow-y: hidden;
}

.pe-text--body[data-cropped="true"]::after {
  background-image: linear-gradient(0deg, white, transparent);
  bottom: 0;
 -content: '';
  height: 10px;
  left: 0;
  position: absolute;
  width: 100%;
}

/*** Body ***/

/*** Copyable ***/

.pe-text--copyable {
  display: flex;
  max-width: 100%;
}

/*** Copyable ***/
/***** Text *****/



/***** Thumbnail *****/
/*** Body ***/

.pe-thumbnail--body {
  overflow: hidden;
}

/*** Body ***/

/*** Image ***/

.pe-thumbnail--image {
  background-position: center;
  background-repeat:   no-repeat;
  background-size:     cover;
  height:              100%;
  width:               100%;
}

/*** Image ***/

/*** Icon ***/

.pe-thumbnail--icon {
  background-color: var( --fill-color-highlight );
  color:            var( --text-color-highlight );
  height:           100%;
  left:             0;
  position:         absolute;
  top:              0;
  width:            100%;
}

/*** Icon ***/
/***** Thumbnail *****/



/***** Toggle *****/
/*** Body ***/

.pe-toggle--body {
  display:     block;
  font-weight: 500;
  width:       100%;

  /* Normalizing 'text-align' user agent rule */
  text-align: left;
}

/*** Body ***/
/***** Toggle *****/



/***** Vertical line *****/
/*** Wrapper ***/

.pe-vertical-line {
  /* XXX#6668 */
  width: fit-content;
}

/*** Wrapper ***/

/*** Body ***/

.pe-vertical-line--body {
  height: 100%;
}

/*** Body ***/
/***** Vertical line *****/
