
/***** Layout A *****/
/*** Header ***/

.x-layout-a--header {
  display: flex;
  gap: 4px;
  padding-top: 12px }

/*** Header ***/

/*** Body ***/

/*** Body ***/
/***** Layout A *****/



.x-icon-buttons {
  display: flex;
  gap: 12px }
