


/***** User select *****/

#x-layout-a--description {
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none }

/***** User select *****/



/***** Hide scrollbar *****/

#x-layout-a--content-header {
  /* Hide scrollbar for IE and Edge */
  -ms-overflow-style: none;
  /* Hide scrollbar for Firefox */
  scrollbar-width: none;

  overflow-x: auto }

#x-layout-a--content-header::-webkit-scrollbar {
  /* Hide scrollbar for Chrome, Safari and Opera */
  display: none }

/***** Hide scrollbar *****/



/***** Align profiles *****/
/*** Horizontal align ***/

#x-layout-a[data-horizontal-align="left"] #x-layout-a--content-body {
  align-items: flex-start }

#x-layout-b[data-horizontal-align="left"] #x-layout-b--card-group {
  justify-content: flex-start }

#x-layout-a[data-horizontal-align="center"] #x-layout-a--content-body {
  align-items: center }

#x-layout-b[data-horizontal-align="center"] #x-layout-b--card-group {
  justify-content: center }

#x-layout-a[data-horizontal-align="right"] #x-layout-a--content-body {
  align-items: flex-end }

#x-layout-b[data-horizontal-align="right"] #x-layout-b--card-group {
  justify-content: flex-end }

/*** Horizontal align ***/
/***** Align profiles *****/



/***** Size profiles *****/
/*** XXS ***/
/*** XXS ***/

/*** XS ***/
/*** XS ***/

/*** S ***/
/*** S ***/

/*** M ***/

#x-layout-a[data-min-width="m"] .x-form-a--input-row {
  -max-width: 660px }

#x-layout-a[data-min-width="m"] {
  min-width: var( --content-width-m ) }

/*** M ***/

/*** L ***/

#x-layout-a[data-min-width="l"] .x-form-a--input-row {
  -max-width: 920px }

#x-layout-a[data-min-width="l"] {
  min-width: var( --content-width-l ) }

/*** L ***/

/*** XL ***/

#x-layout-a[data-min-width="xl"] .x-form-a--input-row {
  -max-width: 920px }

#x-layout-a[data-min-width="xl"] {
  min-width: var( --content-width-xl ) }

/*** XL ***/

/*** XXL ***/

#x-layout-a[data-min-width="xxl"] .x-form-a--input-row {
  -max-width: calc(var( --content-width-xxl ) - 72px) }

#x-layout-a[data-min-width="xxl"] {
  min-width: var( --content-width-xxl ) }

/*** XXL ***/
/***** Size profiles *****/



/***** Form A *****/

/* - A .x-form-a--input-row sorok százalék alapú felosztása (pl.: 30/30/40, ...),
 *   gap távolságok használata nélkül lehetséges.
 * - Az .x-form-a--input-row sorokban felsorolt .x-form-a--input-block elemekben
 *   kell megoldalni az esztétikai távolságok beállítását! */


.x-form-a--input-row {
  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap }

.x-form-a--input-column {
  -max-width: 800px;
  width: 100%;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap }

.x-form-a--input-block {
  flex-grow: 1;
  padding: 0 12px }

/***** Form A *****/



/***** Layout A *****/
/*** Layout wrapper ***/

#x-layout-a {
  background-color: var( --background-color );
  border-radius: var( --border-radius-m );
  display: flex;
  flex-direction: column;
  margin: 0 var( --app-edge );
  /* Ha a content-header szélesebb, mint a rendelkezésre álló hely, akkor az #x-layout-a elem
   * max-width tulajdonsága nélkül nem kapcsolna be rajta a vízszintes görgetés */
  max-width: var( --app-width ) }

/* - A szerverről letöltött adatok betöltésekor a kirenderelt tartalom méretének megváltozása
 *   miatt a body elem magassága a betöltési folyamat alatt többször is megváltozhat.
 * - Hogy ne történjen meg a rövid időn belüli ismételt magasság változás, a body elem
 *   min-height tulajdonsággal rendelkezik. */
[data-interface="application-ui"] #x-layout-a {
  min-height: calc(100vh - 144px) }

[data-interface="website-ui"] #x-layout-a {
  min-height: calc(100vh - 96px) }

/*** Layout wrapper ***/

/*** Layout description ***/

#x-layout-a--description {
  color: var( --color-muted );
  font-size: var( --font-size-xxs );
  font-weight: 500;
  letter-spacing: var( --letter-spacing-xxs );
  line-height: 24px;
  margin: 12px 0;
  min-height: 24px }

/*** Layout description ***/

/*** Layout content-structure ***/

#x-layout-a--content-structure {
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 1 }

/*** Layout content-structure ***/

/*** Layout content-header ***/

#x-layout-a--content-header {
  align-items: center;
  background-color: var( --background-color );
  border-bottom: 2px solid transparent;
  border-radius: var( --border-radius-m ) var( --border-radius-m ) 0 0;
  display: flex;
  flex-direction: row;
  font-size: var( --font-size-s );
  font-weight: 500;
  justify-content: flex-start;
  letter-spacing: var( --letter-spacing-s );
  line-height: var( --line-height-s );
  min-height: 48px;
  overflow-x: auto;
  /* XXX#2981 */
  padding: 0 var( --content-edge );
  position: sticky;
  /* XXX#0034 */
  top: 48px }

#x-layout-a--content-header[data-sticky="true"] {
  box-shadow: 0 6px 6px -6px #bcbcbc }

#x-layout-a--content-header--sensor {
  /* XXX#0034
   * - Az #x-layout-a--content-header elem {position: sticky} állapotának vizsgálatához
   *   és a [data-sticky="true"] attribútum beállításához szükséges egy segédelemet
   *   (#x-layout-a--content-header--sensor) elhelyezni az oldalon, aminek a {top: ...}
   *   tulajdonságának értéke az #x-layout-a--content-header elem {top: ...} tulajdonságának
   *   értékének negáltja.
   *
   * - A segédelem {top: ...} tulajdonságának értéke legfeljebb -1px vagy annál kisebb érték
   *   kell legyen!
   *
   * - Az oldalon való görgetés közben a segédelem (#x-layout-a--content-header--sensor)
   *   akkor hagyja el a viewport határát, amikor az #x-layout-a--content-header elem
   *   {position: sticky} állapotba lép. */
  position: absolute;
  top: -48px }

/*** Layout content-header ***/

/*** Layout content-body ***/

#x-layout-a--content-body {
  /* XXX#0093
   * A content-body alsó padding távolságát a content-tail helyettesíti.
   * A content-body felső padding mérete megegyezik a content-tail magasságával.
   * Az x4.5.4 verzió óta ki van kapcsolva a felső padding, az egyes tartalmak
   * maguknak állítják be, ha szükséges.
   * padding-bottom: 0;
   * padding-top: var( --border-radius-m ) */

  /* A content-body elem kitölti a rendelkezésére álló magasságot, így középre igazított tartalmat
   * is lehetséges benne megejeleníteni */
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  padding-left:  var( --content-edge );
  padding-right: var( --content-edge ) }

/*** Layout content-body ***/

/*** Layout content-footer ***/

#x-layout-a--content-tail {
  /* XXX#0093
   * A {position: sticky} tulajdonságú content-header görgetéskor az content-tail elemhez
   * érve folytatja a tartalommal együtt való gördülést és így content-header nem takarja el
   * a content-body lekerekített alsó sarkait. */
  height: var( --border-radius-m ) }

#x-layout-a--content-footer {
  background-color: var( --background-color );
  border-radius: 0 0 var( --border-radius-m ) var( --border-radius-m );
  border-top: 2px solid transparent;
  /* XXX#0034 */
  bottom: 0;
  /* XXX#2981 */
  padding: 0 var( --content-edge );
  position: sticky }

#x-layout-a--content-footer[data-sticky="true"] {
  box-shadow: 0 -6px 6px -6px #bcbcbc }

#x-layout-a--content-footer--sensor {
  /* XXX#0034 */
  bottom: -1px;
  position: absolute }

/*** Layout content-footer ***/

/*** Layout ... ***/

/* XXX#8607
 * XXS, XS és S méretű viewport-on az app-edge értéke 0, ezért az #x-layout-a elem szélei
 * közvetlenül a képernyő széléig érnek, emiatt indokolt eltávolítani a border-radius tulajdonságot */
body[data-viewport-profile="xxs"] #x-layout-a,
body[data-viewport-profile="xs"]  #x-layout-a,
body[data-viewport-profile="s"]   #x-layout-a { border-radius: 0 }

/*** Layout ... ***/

/*** Layout footer ***/

#x-layout-a--footer {
  padding-top: 48px }

/*** Layout footer ***/
/***** Layout A *****/



/***** Layout B *****/
/*** Card group ***/

#x-layout-b--card-group {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 48px;
  padding: 48px var( --app-edge ) }

/*** Card group ***/
/***** Layout B *****/



/***** List-item A *****/
/*** List-item ***/

.x-list-item-a {
  display: flex }

.x-list-item-a--header {
  align-items: center;
  -background-color: var( --fill-color );
  border-radius: var( --border-radius-s );
  display: flex;
  flex-direction: column;
  height: 60px;
  justify-content: center;
  margin: 6px;
  overflow: hidden;
  width: 60px }

.x-list-item-a--header-icon {
  align-items: center;
  background-color: var( --fill-color );
  border-radius: 50%;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100% }

.x-list-item-a--header-thumbnail {
  left: 0;
  position: absolute;
  top: 0 }

.x-list-item-a--details {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  padding-left: 12px }

.x-list-item-a--label {
  font-size: var( --font-size-s );
  font-weight: 500;
  letter-spacing: var( --letter-spacing-s );
  line-height: var( --line-height-s ) }

.x-list-item-a--description,
.x-list-item-a--timestamp {
  color: var( --color-muted );
  font-size: var( --font-size-xs );
  font-weight: 500;
  letter-spacing: var( --letter-spacing-xs );
  line-height: var( --line-height-xs ) }

.x-list-item-a--icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 12px }

.x-list-item-a--label,
.x-list-item-a--description {
  /* XXX#0039
   * A nagyon hosszú szavakat akkor lehet {text-overflow: ellipsis} tulajdonsággal
   * megjeleníteni, ha az elem meghatározott (nem százalék alapú) szélességgel rendelkezik.
   * Ezért szükséges a {max-width: 70vw} tulajdonság használata, mert így nagyon kis méretű
   * képernyőkön is eleggé korlátozza a szöveg szélességét, hogy ne foglalhasson a számára
   * rendelkezésre állónál nagyobb helyet viszont emelett nagy méretű képernyőkön használhatja
   * a rendelkezésre álló nagy helyet. */
  max-width: 70vw;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap }

/*** List-item ***/

/*** Selected list-item ***/
/*** Selected list-item ***/
/***** List-item A *****/
