


/***** User select *****/

.x-header-a {
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none }

/***** User select *****/



/***** Header A *****/

.x-header-a {
  align-items: center;
  color: var( --color-muted );
  display: flex;
  flex-direction: column;
  font-size: var( --font-size-m );
  font-weight: 500;
  justify-content: center;
  letter-spacing: var( --letter-spacing-m );
  line-height: var( --line-height-m );
  min-height: 48px;

  /* A header alatt esetlegesen elhelyezett card elem felső margójának ellensúlyozása */
  margin-top: 12px }

.x-header-a--description {
  font-size: var( --font-size-xxs );
  letter-spacing: var( --letter-spacing-xxs );
  line-height: var( --line-height-xxs ) }

/*** Header ***/
/***** Header A *****/



/***** Search bar A *****/

.x-search-bar-a {
  display: flex;
  width: 100% }

.x-search-bar-a--search-field {
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-duration: .5s;
  animation-name: x-reveal;

  flex-grow: 1;
  /* A search-bar jobb szélén található ikon-gomb jobb oldalán egy bar-edge méretű padding van,
   * ezt szükséges ellensúlyozni */
  padding-right: var( --bar-edge ) }

/***** Search bar A *****/



/***** Layout A *****/
/***** Layout A *****/
