
/***** Material icons *****/
/***** Material icons *****/



/***** App logo *****/

.x-app-logo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100px;
  overflow: hidden;
  width: 100px }

/***** App logo *****/



/***** MT logo *****/

.x-mt-logo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100px;
  overflow: hidden;
  width: 100px }

/***** MT logo *****/



/***** App title *****/

.x-app-title {
  font-size: var( --font-size-xs );
  font-weight: 600;
  text-transform: uppercase }

/***** App title *****/



/***** Loading animation *****/

.x-loading-animation {
  animation-duration: 20s; /* 1s = 5% */
  animation-iteration-count: infinite;
  animation-delay: 3s;
  animation-name: x-glow;
  opacity: 0; }

/***** Loading animation *****/
