
/* Legal information
 *
 * Monoset Clojure/ClojureScript Library
 * https://monotech.hu/monoset
 *
 * Copyright Adam Szűcs and other contributors - All rights reserved */



/***** Theme variables *****/

body[data-theme="dark"] {
  /* App background */
  --app-background-color:         var( --black );
  --app-background-pattern-color: var( --black-dark );
  /* App overlay */
  --app-overlay-color:          var( --black-semi-transparent );
  /* Fill color */
  --fill-color:                 var( --black-x-light );
  /* Scroll-shadow */
  --scroll-shadow-bottom:       0  6px 6px -6px #5c5c5c;
  --scroll-shadow-top:          0 -6px 6px -6px #5c5c5c;
  /* Background color */
  --background-color:           var( --black-light );
  --background-color-muted:     var( --grey-x-dark );
  --background-color-highlight: var( --black-light );
  --background-color-primary:   var( --soft-blue-xx-dark );
  --background-color-secondary: var( --soft-purple-xx-dark );
  --background-color-success:   var( --soft-green-xx-dark );
  --background-color-warning:   var( --soft-red-xx-dark );
  /* Border color */
  --border-color:               var( --black-x-light );
  --border-color-muted:         var( --black-xx-light );
  --border-color-highlight:     var( --grey-xx-dark );
  --border-color-primary:       var( --hard-blue );
  --border-color-secondary:     var( --hard-purple );
  --border-color-success:       var( --hard-green );
  --border-color-warning:       var( --hard-red );
  /* Color */
  --color:                      var( --white-xx-dark );
  --color-muted:                var( --grey-light );
  --color-highlight:            var( --grey-x-light );
  --color-invert:               var( --black-xx-light );
  --color-primary:              var( --hard-blue-xx-dark );
  --color-secondary:            var( --hard-purple-xx-dark );
  --color-success:              var( --hard-green-xx-dark );
  --color-warning:              var( --hard-red-xx-dark );
  /* Hover color */
  --hover-color:                var( --black-xx-light );
  --hover-color-muted:          var( --grey );
  --hover-color-highlight:      var( --grey-x-light );
  --hover-color-invert:         var( --white-xx-dark );
  --hover-color-primary:        var( --soft-blue-x-dark );
  --hover-color-secondary:      var( --soft-purple-x-dark );
  --hover-color-success:        var( --soft-green-x-dark );
  --hover-color-warning:        var( --soft-red-x-dark ) }

body[data-theme="light"] {
  /* App background */
  --app-background-color:         var( --white );
  --app-background-pattern-color: var( --white-x-light );
  /* App overlay */
  --app-overlay-color:          var( --white-semi-transparent );
  /* Fill color */
  --fill-color:                 var( --white-xx-light );
  /* Scroll-shadow */
  --scroll-shadow-bottom:       0  6px 6px -6px #bcbcbc;
  --scroll-shadow-top:          0 -6px 6px -6px #bcbcbc;
  /* Background color */
  --background-color:           var( --white-xx-light );
  --background-color-muted:     var( --grey-x-light );
  --background-color-highlight: var( --white-light );
  --background-color-primary:   var( --soft-blue );
  --background-color-secondary: var( --soft-purple );
  --background-color-success:   var( --soft-green );
  --background-color-warning:   var( --soft-red );
  /* Border color */
  --border-color:               var( --grey-x-light );
  --border-color-muted:         var( --grey-xx-light );
  --border-color-highlight:     var( --white );
  --border-color-primary:       var( --hard-blue );
  --border-color-secondary:     var( --hard-purple );
  --border-color-success:       var( --soft-green );
  --border-color-warning:       var( --soft-red );
  /* Color */
  --color:                      var( --black-xx-light );
  --color-muted:                var( --grey );
  --color-highlight:            var( --grey-x-light );
  --color-invert:               var( --white-xx-dark );
  --color-primary:              var( --hard-blue-xx-dark );
  --color-secondary:            var( --hard-purple-xx-dark );
  --color-success:              var( --hard-green-xx-dark );
  --color-warning:              var( --hard-red-xx-dark );
  /* Hover color */
  --hover-color:                var( --white-xx-light );
  --hover-color-muted:          var( --grey-xx-light );
  --hover-color-highlight:      var( --white );
  --hover-color-primary:        var( --soft-blue-light );
  --hover-color-secondary:      var( --soft-purple-light );
  --hover-color-success:        var( --soft-green-light );
  --hover-color-warning:        var( --soft-red-light ) }

body[data-theme="high-contrast"] {}

/***** Theme variables *****/



/***** Body container *****/

body[data-theme="dark"] {
  -background-color: var( --app-background-color );
  -color:            var( --color ) }

body[data-theme="light"] {
  -background-color: var( --app-background-color );
  -color:            var( --color ) }

body[data-theme="high-contrast"] {}

/***** Body container *****/



/***** Text *****/

html {
  /* REM
   *
   * Equal to the computed value of font-size on the root element.
   * When specified on the font-size property of the root element,
   * the rem units refer to the property’s initial value. */
  font-size:      var( --font-size-rem ) }

body {
  font-family:    var( --font-family-default );
  font-size:      var( --font-size-m );
  font-weight:    400;
  letter-spacing: var( --letter-spacing-m );
  line-height:    var( --line-height-m ) }

/***** Text *****/
