
/***** User info *****/

.x-user-profile-picture {
  background-color: var( --background-color-highlight );
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%;
  overflow: hidden;

  /* Default profile picture size */
  height: 80px;
  width:  80px}

/***** User info *****/
