


/***** User select *****/

#x-app-header--title,
.x-app-bubbles--element--body {
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none }

/***** User select *****/



/***** Align profiles *****/
/*** Horizontal align ***/

[data-horizontal-align="left"] .x-app-popups--element--body {
  align-items: flex-start }

[data-horizontal-align="left"] .x-app-surface--element--view {
  align-items: flex-start; }

[data-horizontal-align="center"] .x-app-popups--element--body {
  align-items: center }

[data-horizontal-align="center"] .x-app-surface--element--view {
  align-items: center }

[data-horizontal-align="right"] .x-app-popups--element--body {
  align-items: flex-end }

[data-horizontal-align="right"] .x-app-surface--element--view {
  align-items: flex-end }

/*** Horizontal align ***/

/*** Vertical align ***/
/*** Vertical align ***/
/***** Align profiles *****/



/***** Color profiles *****/
/*** Muted ***/
/*** Muted ***/

/*** Primary ***/
/*** Primary ***/

/*** Secondary ***/
/*** Secondary ***/

/*** Success ***/
/*** Success ***/

/*** Warning ***/
/*** Warning ***/
/***** Color profiles *****/



/***** Size profiles *****/
/*** XXS ***/

[data-min-width="xxs"] .x-app-popups--element--body {
  min-width: var( --content-width-xxs ) }

/*** XXS ***/

/*** XS ***/

[data-min-width="xs"] .x-app-popups--element--body {
  min-width: var( --content-width-xs ) }

/*** XS ***/

/*** S ***/

[data-min-width="s"] .x-app-popups--element--body {
  min-width: var( --content-width-s ) }

/*** S ***/

/*** M ***/

[data-min-width="m"] .x-app-popups--element--body {
  min-width: var( --content-width-m ) }

/*** M ***/

/*** L ***/

[data-min-width="l"] .x-app-popups--element--body {
  min-width: var( --content-width-l ) }

/*** L ***/

/*** XL ***/

[data-min-width="xl"] .x-app-popups--element--body {
  min-width: var( --content-width-xl ) }

/*** XL ***/

/*** XXL ***/

[data-min-width="xxl"] .x-app-popups--element--body {
  min-width: var( --content-width-xxl ) }

/*** XXL ***/
/***** Size profiles *****/



/***** Hide scrollbar *****/

#x-document-element,
#x-body-container,
#x-app-bubbles,
.x-app-popups--element--body,
.x-app-popups--element--header {
  /* Hide scrollbar for IE and Edge */
  -ms-overflow-style: none;
  /* Hide scrollbar for Firefox */
  scrollbar-width: none }

#x-document-element::-webkit-scrollbar,
#x-body-container::-webkit-scrollbar,
#x-app-bubbles::-webkit-scrollbar,
.x-app-popups--element--body::-webkit-scrollbar,
.x-app-popups--element--header::-webkit-scrollbar {
  /* Hide scrollbar for Chrome, Safari and Opera */
  display: none }

/***** Hide scrollbar *****/



/***** App background *****/

#x-app-background {
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100% }

/***** App background *****/



/***** App bubbles *****/
/*** App bubbles wrapper ***/

#x-app-bubbles {
  bottom: 0;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  max-height: 100vh;
  overflow-y: auto;
  padding-right: 24px;
  position: fixed;
  right: 0;
  width: 420px;
  /* BUG#4376 */
  z-index: 997 }

[data-viewport-profile="xxs"] #x-app-bubbles,
[data-viewport-profile="xs"]  #x-app-bubbles,
[data-viewport-profile="s"]   #x-app-bubbles,
[data-viewport-profile="m"]   #x-app-bubbles {
  padding-right: 0;
  width: 100% }

/*** App bubbles wrapper ***/

/*** App bubbles element ***/

.x-app-bubbles--element {
  background-color: var( --background-color );
  border-color: var( --border-color-secondary );
  border-radius: var( --border-radius-m );
  border-style: solid;
  border-width: 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 48px;
  margin-bottom: 24px;
  width: 100% }

[data-viewport-profile="xxs"] .x-app-bubbles--element,
[data-viewport-profile="xs"]  .x-app-bubbles--element,
[data-viewport-profile="s"]   .x-app-bubbles--element,
[data-viewport-profile="m"]   .x-app-bubbles--element {
  border-radius: 0;
  border-style: solid none none none;
  margin-bottom: 0 }

.x-app-bubbles--element--body {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  font-size: var( --font-size-s );
  font-weight: 500;
  flex-grow: 1;
  justify-content: center;
  letter-spacing: var( --letter-spacing-s );
  line-height: var( --line-height-s );
  overflow: hidden;
  /* XXX#2981 */
  padding: 0 var( --content-edge ) }

/*** App bubbles element ***/
/***** App bubbles *****/



/***** App header *****/
/*** Header ***/

#x-app-header {
  display: flex;
  justify-content: center;
  left: var( --app-edge );
  position: fixed;
  top: 0;
  width: var( --app-width );

  /* Floating header, while scrolled-to-top? = true */
  -border-radius: var( --border-radius-m );
  -top: 12px;

  /* Content-sized header */
  -left: calc((100% - var( --content-width-l )) / 2);
  -width: var( --content-width-l ) }

#x-app-header--body {
  background-color: var( --background-color );
  border-radius: 0 0 var( --border-radius-m ) var( --border-radius-m );
  display: flex;
  justify-content: space-between;
  max-width: var( --content-width-l );
  padding: 0 var( --content-edge );
  width: 100% }

#x-app-header--title {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  justify-content: center;
  height: 48px;
  max-width: 50vw;
  overflow: hidden }

[data-viewport-profile="xxs"] #x-app-header--title,
[data-viewport-profile="xs"]  #x-app-header--title,
[data-viewport-profile="s"]   #x-app-header--title {
  font-size: var( --font-size-xs );
  letter-spacing: var( --letter-spacing-xs );
  line-height: var( --line-height-xs ) }

[data-viewport-profile="m"]   #x-app-header--title,
[data-viewport-profile="l"]   #x-app-header--title,
[data-viewport-profile="xl"]  #x-app-header--title,
[data-viewport-profile="xxl"] #x-app-header--title {
  font-size: var( --font-size-s );
  letter-spacing: var( --letter-spacing-s );
  line-height: var( --line-height-s ) }

.x-app-header--block {
  display: flex }

/* XXX#8607 */
[data-viewport-profile="xxs"] #x-app-header--body,
[data-viewport-profile="xs"]  #x-app-header--body,
[data-viewport-profile="s"]   #x-app-header--body {
  border-radius: 0 }

/*** Header ***/
/***** App header *****/



/***** App popups *****/

#x-app-popups {
  /* BUG#4376
   * Egyes külső pluginok (pl.: FullCalendar) elemei rendelkezhetnek {z-index: ...} tulajdonsággal,
   * ami szükségessé teszi az applikáció egyes elemeinek kiemelését! */
  z-index: 996 }

/*** Popup ***/

/* DEBUG */
.x-app-popups--element[data-minimized="true"] {
  transform: translateX( -100% ) }

.x-app-popups--element {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100% }

/*** Popup ***/

/*** Popup cover ***/

.x-app-popups--element--cover {

  /* WARNING! DEPRECATED! */
  -backdrop-filter: blur(2px);
  --webkit-backdrop-filter: blur(2px);
  /* WARNING! DEPRECATED! */

  background-color: var( --black-semi-transparent );
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100% }

/*** Popup cover ***/

/*** Popup structure ***/

.x-app-popups--element--structure {
  display: flex;
  flex-direction: column;
  max-width: 100% }

[data-layout="flip"] .x-app-popups--element--structure {
  height: calc(100vh - 48px);
  left: 0;
  position: absolute;
  top: 48px;
  width: 100% }

[data-layout="boxed"] .x-app-popups--element--structure {
  max-height: calc(100% - 96px);
  max-width:  calc(100% - 96px) }

[data-layout="boxed"][data-stretch-orientation="both"]       .x-app-popups--element--structure,
[data-layout="boxed"][data-stretch-orientation="horizontal"] .x-app-popups--element--structure {
  width: calc(100% - 96px) }

[data-layout="boxed"][data-stretch-orientation="both"]     .x-app-popups--element--structure,
[data-layout="boxed"][data-stretch-orientation="vertical"] .x-app-popups--element--structure {
  height: calc(100vh - 96px) }

/*** Popup structure ***/

/*** Popup background ***/

[data-layout="boxed"] .x-app-popups--element--background,
[data-layout="flip"]  .x-app-popups--element--background {
  background-color: var( --background-color );
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100% }

[data-layout="flip"] .x-app-popups--element--background {
  border-radius: var( --border-radius-m ) var( --border-radius-m ) 0 0 }

[data-layout="boxed"] .x-app-popups--element--background {
  border-radius: var( --border-radius-m ) }

/*** Popup background ***/

/*** Popup body ***/

.x-app-popups--element--body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto }

[data-layout="boxed"] [data-autopadding="true"],
[data-layout="flip"]  [data-autopadding="true"] {
  padding: 0 var( --content-edge ) 12px var( --content-edge ) }

/*** Popup body ***/

/*** Popup header ***/

[data-layout="unboxed"] .x-app-popups--element--header {
  color: var( --white );
  left: 0;
  position: fixed;
  top: 0;
  width: 100% }

.x-app-popups--element--header-placeholder {
  height: 12px }

.x-app-popups--element--header {
  overflow-x: auto;
  /* XXX#2981 */
  padding: 0 var( --content-edge );

  /* WARNING! DEPRECATED!
   * A select elem abban az esetben is használja a popup {:header ...} tulajdonságát,
   * amikor nem jelenít meg rajta semmilyen tartalmat. A {min-height: 48px} tulajdonság
   * használatával ilyenkor egy üres sáv jelenne meg a header elem helyén.
   * Nem ismert milyen okból volt használva a min-height tulajdonság! */
  -min-height: 48px;
  /* WARNING! DEPRECATED! */

  /* A {:min-height ...} tulajdonság használata nélkül az .x-app-popups--element--body elem
   * esetlegesen méretcsökkenésre kényszerítené az .x-app-popups--element--header elemet,
   * ezért szükséges a {:flex-shrink 0} tulajdonságot alkalmazni */
  flex-shrink: 0;

  width: 100% }

/*** Popup header ***/

/*** Popup touch anchor ***/

.x-app-popups--element--touch-anchor {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 24px;
  justify-content: center }

.x-app-popups--element--touch-anchor::before {
  background-color: var( --border-color-muted );
  border-radius: 1.5px;
  content: '';
  height: 3px;
  width: 50px }

/*** Popup touch anchor ***/

/*** Popup minimize/maximize button ***/

.x-app-popups--element--minimize-button {
  position: fixed;
  right: 0;
  top: 0 }

.x-app-popups--element--maximize-button {
  left: 0;
  position: fixed;
  top: 0 }

/*** Popup minimize/maximize button ***/
/***** App popups *****/



/***** Progress-bar *****/

#x-app-progress-bar {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  /* BUG#4376 */
  z-index: 998 }

#x-app-progress-bar--process-progress {
  background-color: var( --border-color-primary );
  border-radius: 0 1px 1px 0;
  transition: width .2s ease-in-out;
  width: 0% }

#x-app-progress-bar--process-progress[data-failured="true"] {
  background-color: var( --border-color-warning ) }

/***** Progress-bar *****/



/***** App shield *****/
/*** App shield wrapper ***/

#x-app-shield {
  background-color: var( --background-color );
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;

  /* BUG#4376 */
  z-index: 999 }

/*** App shield wrapper ***/

/*** App shield header ***/

#x-app-shield--header {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  width: 100% }

#x-app-shield--header {
  justify-content: flex-end;
  height: 50%;
  padding: 12px 24px;
  top: 0 }

#x-app-shield .x-app-title {
  margin-top: 24px }

/*** App shield header ***/

/*** App shield content ***/

#x-app-shield--content {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  width: 100% }

#x-app-shield--content {
  font-size: var( --font-size-s );
  height: 50%;
  justify-content: flex-start;
  letter-spacing: var( --letter-spacing-s );
  line-height: var( --line-height-s );
  padding: 12px 24px;
  top: 50% }

/*** App shield content ***/
/***** App shield *****/



/***** App sounds *****/
/*** App sounds wrapper ***/

#x-app-sounds {
  display: none }

/*** App sounds wrapper ***/
/***** App sounds *****/



/***** App surface *****/
/*** App surface wrapper ***/

#x-app-surface {

  /* With {overflow-x: hidden}, too big contents won't fucks the app's structure
   * on small screens.
   *
   * Az #x-app-surface felületen esetlegesen megjelenített túlméretes tartalom által
   * okozott hibák elkerülése érdekében alkalmazott {overflow-x: hidden} tulajdonság
   * elrontja az .x-app-surface--element--view elemben elhelyezett {position: sticky}
   * elemek megfelelő működését!
   *
   * https://stackoverflow.com/questions/47095596/body-overflow-x-hidden-breaks-position-sticky
   *
   * A problémát a BUG#9330 módosítás oldja meg */
   -overflow-x: hidden;

  width: 100% }

/*** App surface wrapper ***/

/*** Surface ***/

/* Website-UI-nál indokolatlanul távol kerülne a footer elem a 100vh-nál
 * kisebb tartalomtól */
[data-interface="application-ui"] .x-app-surface--element {
  min-height: 100vh }

/*** Surface ***/

/*** Oversized content ***/

.x-app-surface--element[data-trim-content="true"] {
  /* BUG#9330
   * A surface felület {:trim-content? true} tulajdonságának használata
   * nem kompatibilis a surface felületén elhelyezett elemek {position: sticky;}
   ; tulajdonságának használatával. */
  overflow-x: hidden }

/*** Oversized content ***/

/*** Surface body ***/

.x-app-surface--element--view {
  display: flex;
  flex-direction: column;

  /* max-height & max-width: why? */
  max-height: 100%;
  max-width:  100% }

[data-interface="application-ui"] .x-app-surface--element--view {
  padding-top: 48px }

/*** Surface body ***/
/***** App surface *****/



/***** Temporary component *****/

#x-temporary-component {
  display: none }

/***** Temporary component *****/
