
/***** Item handler *****/

#t-item-handler {
  display: flex;
  flex-grow: 1;
  flex-direction: column-reverse;
  justify-content: flex-end;
}

/*** Wrapper ***/

#t-item-handler--wrapper {
  flex-grow: 1;
}

/*** Wrapper ***/

/*** Header ***/

#t-item-handler--header {
}

#t-item-handler--label-bar {
  background-color: var( --fill-color-default );
  -border-bottom: 1px solid var( --border-color-highlight );
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  grid-row-gap: 24px;
  padding: 24px 36px;
}

#t-item-handler--control-bar {
  background-color: var( --fill-color-default );
  border-bottom: 1px solid var( --border-color-highlight );
  display: flex;
  margin-bottom: var(--block-size-5xl);
  position: sticky;
  top: 48px;
}

/*** Header ***/

/*** Body ***/

#t-item-handler--body {
  -background-color: var( --fill-color-default );
  -border-bottom: 1px solid var( --border-color-highlight );
  -border-top:    1px solid var( --border-color-highlight );
}

/*** Body ***/

/*** Footer ***/

#t-item-handler--footer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-end;
}

#t-item-handler--footer-content {
  align-items:      center;
  background-color: var( --fill-color-default );
  border-top:       1px solid var( --border-color-highlight );
  display:          flex;
  justify-content:  center;
  padding:          12px;
}

/*** Footer ***/
/***** Item handler *****/
