
/***** Item selector *****/
/*** Item ***/

.t-item-selector--cell-button {
  align-items: center;
  display: flex;
}

.t-item-selector--item-counter {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*** Item ***/
/***** Item selector *****/
