
/***** Item handler *****/

#t-item-handler {
  display: flex;
  flex-grow: 1;
  flex-direction: column-reverse;
  justify-content: flex-end;
}

/*** Wrapper ***/

#t-item-handler--wrapper {
  flex-grow: 1;
}

/*** Wrapper ***/

/*** Header ***/

#t-item-handler--header {
}

#t-item-handler--label-bar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  grid-row-gap: 24px;
  padding: 24px 36px;
}

#t-item-handler--control-bar {
  align-items: center;
  background-color: var( --fill-color );
  border-bottom: 1px solid var( --border-color-highlight );
  border-top:    1px solid var( --border-color-highlight );
  display: flex;
 -justify-content: flex-end;
  margin-bottom: 12px;
  position: sticky;

  /* By using 47px top value instead of 48px, the control bar's top border slips
   * under the application header, otherwise the control bar's top border and
   * the application header's bottom border would be a 2px thick border instead
   * of 1px. */
 -top: 48px;
  top: 47px;
}

/*** Header ***/

/*** Body ***/

#t-item-handler--body {
  background-color: var( --fill-color );
  border-bottom: 1px solid var( --border-color-highlight );
  border-top:    1px solid var( --border-color-highlight );
}

/*** Body ***/
/***** Item viewer *****/



/***** Item lister *****/

#t-item-lister[data-layout="wide"] {
  flex-grow: 1;
}

#t-item-lister[data-layout="compact"] {
  border-right: 1px solid var( --border-color-highlight );
  flex-shrink: 0;
  height: calc(100vh - 48px);
  max-width: 420px;
  position: sticky;
  top: 48px;
  width: 420px;
}

/*** Header ***/

#t-item-lister--label-bar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  grid-row-gap: 24px;
  padding: 24px 36px;
}

#t-item-lister--search-bar {
  align-items: center;
  background-color: var( --fill-color );
  border-bottom: 1px solid var( --border-color-highlight );
  border-top:    1px solid var( --border-color-highlight );
  display: flex;
  padding: 12px 18px;
}

#t-item-lister--search-bar .e-text-field {
  width: 420px;
}

#t-item-lister--compact-bar {
  /* XXX#5505 */
  align-items: center;
  border-bottom: 1px solid var( --border-color-highlight );
  background-color: var( --fill-color );
  display: flex;
  gap: 12px;
  padding: 6px 12px 6px 6px;
  width: 100%;
}

#t-item-lister--compact-bar .e-text-field {
  flex-grow: 1;
}

#t-item-lister[data-layout="compact"] #t-item-lister--list-header {
  -border-bottom: 1px solid var( --border-color-highlight );
  -background-color: var( --fill-color );
  -opacity: .98;
  -display: flex;
  -position: sticky;
  -top: 0;
}

/*** Header ***/

/*** Body ***/

#t-item-lister[data-layout="compact"] #t-item-lister--scroll-container {
  /* XXX#5505
   * 100% - compact-bar height */
  height: calc(100% - 61px);
}

#t-item-lister[data-layout="wide"] #t-item-lister--item-list {
  display: flex;
  flex-direction: column-reverse;
}

#t-item-lister[data-layout="wide"] #t-item-lister--item-list-header {
  position: sticky;
  top: 48px;
}

#t-item-lister[data-layout="wide"] #t-item-lister--body {
  background-color: var( --fill-color );
  border-bottom: 1px solid var( --border-color-highlight );
  -border-top:    1px solid var( --border-color-highlight );
}

#t-item-lister[data-layout="compact"] #t-item-lister--body {
  background-color: var( --fill-color );
  border-bottom: 1px solid var( --border-color-highlight );
}

/*** Body ***/
/***** Item lister *****/



/***** Item selector *****/
/*** Item ***/

.t-item-selector--cell-button {
  align-items: center;
  display: flex;
}

.t-item-selector--item-counter {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*** Item ***/
/***** Item selector *****/



/***** Module frame *****/

#t-module-frame {
  display: flex;
}

/*** Wrapper ***/

#t-module-frame--wrapper {
  -flex-grow: 1;
}

/*** Wrapper ***/

/*** Header ***/
/*** Header ***/

/*** Body ***/
/*** Body ***/
/***** Module frame *****/



/***** Static page *****/
/*** Header ***/

#t-static-page--label-bar {
  padding: 24px 36px;
}

/*** Header ***/
/***** Static page *****/
