
/* Legal information
 *
 * Monoset Clojure/ClojureScript Library
 * https://monotech.hu/monoset
 *
 * Copyright Adam Szűcs and other contributors - All rights reserved */



#login-box {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh }

#login-box--body {
  border-color: var( --border-color-highlight );
  border-radius: var( --border-radius-m );
  border-style: solid;
  border-width: 1px;
  width: 320px }

@media only screen and (max-width: 320px) {
#login-box--body { border-radius: 0 }}
