
/***** Contacts *****/
/*** Wrapper ***/

.pw-contacts {

}

/*** Wrapper ***/

/*** Body ***/

.pw-contacts--body {
  display:        flex;
  flex-direction: column;
  gap:            24px;
}

/*** Body ***/

/*** Contact group ***/

.pw-contacts--contact-group--label {
}

.pw-contacts--contact-group--link {
  display: block;
  width:   fit-content;
}

.pw-contacts--contact-group--info {
}

/*** Contact group ***/
/***** Contacts *****/



/***** Follow us links *****/

.pw-follow-us-links--link {
  align-items:     center;
  display:         flex;
  font-size:       24px;
  height:          32px;
  justify-content: center;
  line-height:     32px;
  width:           32px;
}

/***** Follow us links *****/



/***** Language selector *****/
/*** Body ***/

.pw-language-selector--body {
  display: flex;
}

/*** Body ***/

/*** Language button ***/

.pw-language-selector--language-button {
  text-transform: uppercase;
}

/*** Language button ***/
/***** Language selector *****/



/***** Multi menu *****/
/*** Sidebar menu ***/

.pw-multi-menu--sidebar-menu-wrapper {
  align-items:     center;
  display:         flex;
  height:          100%;
  justify-content: center;
}

/*** Sidebar menu ***/
/***** Multi menu *****/



/***** Scroll-icon *****/
/*** Element ***/

.pw-scroll-icon {
  display:         flex;
  justify-content: center;
  transition:      transform 0.15s, opacity .1s;
  width:           100%;
}

.pw-scroll-icon[data-visible="false"] {
  opacity:   0;
  transform: translateY(110%);
}

/*** Element ***/

/*** Body ***/

.pw-scroll-icon--body {
  border-color:  var( --icon-color );
  border-radius: 10px;
  border-style:  solid;
  border-width:  2px;
  height:        35px;
  margin-bottom: 20px;
  width:         20px;
}

.pw-scroll-icon--body::before {
  animation-name:            pw-scroll-icon;
  animation-duration:        2s;
  animation-iteration-count: infinite;
  background-color:          var( --icon-color );
  border-radius:             50%;
  content:                   '';
  left:                      5.5px;
  height:                    5px;
  position:                  absolute;
  top:                       5px;
  width:                     5px;
}

.pw-scroll-icon--body::after {
  border-bottom:    2px solid var( --icon-color );
  border-left:      2px solid var( --icon-color );
  bottom:           -15px;
  content:          '';
  height:           10px;
  left:             2.5px;
  position:         absolute;
  transform:        rotate(-45deg);
  transform-origin: center;
  width:            10px;
}

/*** Body ***/

/*** Animation ***/

@keyframes pw-scroll-icon {
  0%   {
         opacity: 0;
         transform: translate(0, 0);
       }
  40%  {
         opacity: 1;
       }
  80%  {
         opacity: 0;
         transform: translate(0, 20px);
       }
  100% {
         opacity: 0;
       }
}

/*** Animation ***/
/***** Scroll-icon *****/



/***** Scroll-sensor *****/

.pw-scroll-sensor {
  /* Ezt most már az intersection-observer/sensor komponens tudja helyettesíteni! */
  height: 1px;
  width:  100%;
}

/***** Scroll-sensor *****/



/***** Sidebar *****/
/*** Wrapper ***/

.pw-sidebar {
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;

  /* You can place a sidebar anywhere in the DOM structure it's always being
   * the upper UI element when visible */
  z-index: 9999;
}

.pw-sidebar[data-position="left"]  { left:  0; }
.pw-sidebar[data-position="right"] { right: 0; }

/*** Wrapper ***/

/*** Cover ***/

.pw-sidebar--cover {
  animation-fill-mode: both;
  animation-duration: .15s;
  -animation-timing-function: linear;
  height: 100%;
  opacity: .85;
  position: fixed;
  width: 100%;
}

.pw-sidebar.pr-mounting .pw-sidebar--cover {
  animation-name: translate-x--110vw-0;
}

.pw-sidebar.pr-unmounting .pw-sidebar--cover {
  animation-delay: .15s;
  animation-name: translate-x-0--110vw;
}

/*** Cover ***/

/*** Body ***/

.pw-sidebar--body {
  animation-fill-mode: both;
  animation-duration: .15s;
  overflow-x: hidden;
  height: 100vh;
  width: 320px;
}

.pw-sidebar.pr-mounting .pw-sidebar--body {
  animation-delay: .15s;
  animation-name: translate-x--110vw-0;
}

.pw-sidebar.pr-unmounting .pw-sidebar--body {
  animation-name: translate-x-0--110vw;
}

@media only screen and (min-width: 0) and (max-width: 479px) {
.pw-sidebar--body { width: calc(100% - 60px); }}

@media only screen and (min-width: 480px) and (max-width: 640px) {
.pw-sidebar--body { width: calc(100% - 120px); }}

/*** Body ***/

/*** Content ***/

.pw-sidebar--content {
  height: 100%;
}

/*** Content ***/
/***** Sidebar *****/
