
/***** Invalid message *****/

.pf-invalid-message {
  color:          var( --text-color-warning );
  font-size:      var( --font-size-xxs      );
  font-weight:    var( --font-weight-medium );
  letter-spacing: var( --letter-spacing-xxs );
  line-height:    18px;
}

/***** Invalid message *****/
