
/***** Material Design Icons / Symbols *****/

[data-icon-family="material-icons-filled"],
[data-icon-family="material-icons-outlined"],
[data-icon-family="material-symbols-filled"],
[data-icon-family="material-symbols-outlined"] {
  font-style:                   normal;
  font-weight:                  normal;
  letter-spacing:               normal;
  text-transform:               none;
 -webkit-font-feature-settings: 'liga';
 -webkit-font-smoothing:        antialiased;

  /* By default the Material Icons / Symbols are selectable elements,
   * therefore the selection has to be turned off. */
 -ms-user-select:     none;
 -moz-user-select:    none;
 -webkit-user-select: none;
  user-select:        none;

  /* By default the Material Icons / Symbols has no positioning rules. */
  align-items:     center;
  display:         flex;
  justify-content: center;
}

[data-icon-family="material-icons-filled"] {
  font-family: 'Material Icons';
  overflow:    hidden;
}

[data-icon-family="material-icons-outlined"] {
  font-family: 'Material Icons Outlined';
  overflow:    hidden;
}

[data-icon-family="material-symbols-filled"] {
  direction:               ltr;
  font-family:             'Material Symbols Outlined';
  font-variation-settings: "FILL" 1, "wght" 300, "GRAD" 0, "opsz" 48;
  white-space:             nowrap;
  word-wrap:               normal;
}

[data-icon-family="material-symbols-outlined"] {
  direction:               ltr;
  font-family:             'Material Symbols Outlined';
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 48;
  white-space:             nowrap;
  word-wrap:               normal;
}

/***** Material Design Icons / Symbols *****/
