
/* Montserrat Initials is not a designed icon set!
 * It's no more than Montserrat letters configured to be initials. */

/***** Montserrat Initials *****/

[data-icon-family="montserrat-initials"],
[data-icon-family="montserrat-initials-filled"],
[data-icon-family="montserrat-initials-outlined"] {
  font-family:    'Montserrat';
  font-style:     normal;
  font-weight:    600;
  letter-spacing: 1px;

  /* XXX#5210 (resources/public/icons/material-design-icons.css) */
 -ms-user-select:     none;
 -moz-user-select:    none;
 -webkit-user-select: none;
  user-select:        none;

  /* XXX#5210 (resources/public/icons/material-design-icons.css) */
  align-items:     center;
  display:         flex;
  justify-content: center;

  /* Montserrat letters needs a small indent to look really center-aligned. */
  padding-left: 1px;
}

[data-icon-family="montserrat-initials-filled"] {
  background-color: #424242;
  background-color: #666666;
  border-radius:    4px;
}

[data-icon-family="montserrat-initials-outlined"] {
  border-color:  inherit;
  border-radius: 4px;
  border-style:  solid;
  border-width:  2px;

}

/***** Montserrat Initials *****/
