
/***** Click presets *****/
/*** Hoverable ***/

/* @usage
 * [:button {:data-hoverable true} "My button"]
 *
 * @usage
 * [:button {:data-clickable true :data-hoverable true} "My button"]
 *
 * @usage
 * [:button {:data-hoverable :targeted}
 *          [:div {:data-hoverable-target true} "Only the child element affected!"]]
 *
 * The hoverable preset must be placed above the clickable preset (because of the CSS cascade)!
 * The clickable must be more opaquer than the hoverable! */

[data-hoverable="true"]:hover,
[data-hoverable="targeted"]:hover [data-hoverable-target] {
  opacity: .7 !important;
}

/*** Hoverable ***/

/*** Clickable ***/

/* @usage
 * [:button {:data-clickable true} "My button"]
 *
 * @usage
 * [:button {:data-clickable true :data-hoverable true} "My button"]
 *
 * @usage
 * [:button {:data-clickable :targeted}
 *          [:div {:data-clickable-target true} "Only the child element affected!"]]
 *
 * Don't forget to set up an on-mouse-up event to blur the element after clicking! */

[data-clickable="true"],
[data-clickable="targeted"] {
  cursor: pointer;
}

[data-clickable="true"]:active,
[data-clickable="true"]:focus,
[data-clickable="targeted"]:active [data-clickable-target],
[data-clickable="targeted"]:focus  [data-clickable-target] {
  opacity: .5 !important;
}

/*** Clickable ***/
/***** Click presets *****/
