
/***** Copy presets *****/
/*** Copyable ***/

[data-copyable] {
  cursor: pointer;
}

[data-copyable]::after {
  background-color: var( --fill-color-default );
  border-color: var( --border-color-highlight );
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  color:     var( --color-primary );
  font-size: var( --font-size-xs  );
  line-height: 18px;
  padding: 6px;
  position: absolute;
  right: 0;
  top: calc(50% - 16px);
  transform: translateX(calc(100% + 6px));
  z-index: 9999;
}

[data-copyable]:hover::after {
  content: attr(data-copy-label);
}

/*** Copyable ***/
/***** Copy presets *****/
