
/***** Input presets *****/
/*** Autofill ***/

[data-fillable]:-webkit-autofill,
[data-fillable]:-webkit-autofill:hover,
[data-fillable]:-webkit-autofill:focus {
  -webkit-text-fill-color: var( --color-default );
  -webkit-box-shadow: 0 0 0px 1000px var( --fill-color-default ) inset;
  transition: background-color 9999s ease-in-out 0s;
}

/*** Autofill ***/
/***** Input presets *****/
