
/***** Size presets *****/
/*** Block height ***/

[data-block-height="xxs"] { height: var( --block-height-xxs ); }
[data-block-height="xs"]  { height: var( --block-height-xs  ); }
[data-block-height="s"]   { height: var( --block-height-s   ); }
[data-block-height="m"]   { height: var( --block-height-m   ); }
[data-block-height="l"]   { height: var( --block-height-l   ); }
[data-block-height="xl"]  { height: var( --block-height-xl  ); }
[data-block-height="xxl"] { height: var( --block-height-xxl ); }
[data-block-height="3xl"] { height: var( --block-height-3xl ); }
[data-block-height="4xl"] { height: var( --block-height-4xl ); }
[data-block-height="5xl"] { height: var( --block-height-5xl ); }

/*** Block height ***/

/*** Element width ***/

[data-element-width="xxs"] { min-width: var( --data-element-width-xxs ); }
[data-element-width="xs"]  { min-width: var( --data-element-width-xs  ); }
[data-element-width="s"]   { min-width: var( --data-element-width-s   ); }
[data-element-width="m"]   { min-width: var( --data-element-width-m   ); }
[data-element-width="l"]   { min-width: var( --data-element-width-l   ); }
[data-element-width="xl"]  { min-width: var( --data-element-width-xl  ); }
[data-element-width="xxl"] { min-width: var( --data-element-width-xxl ); }
[data-element-width="3xl"] { min-width: var( --data-element-width-3xl ); }
[data-element-width="4xl"] { min-width: var( --data-element-width-4xl ); }
[data-element-width="5xl"] { min-width: var( --data-element-width-5xl ); }

/*** Element width ***/

/*** Height ***/

[data-height="xxs"] { height:  6px; }
[data-height="xs"]  { height: 12px; }
[data-height="s"]   { height: 18px; }
[data-height="m"]   { height: 24px; }
[data-height="l"]   { height: 36px; }
[data-height="xl"]  { height: 42px; }
[data-height="xxl"] { height: 48px; }
[data-height="3xl"] { height: 60px; }
[data-height="4xl"] { height: 72px; }
[data-height="5xl"] { height: 84px; }

/*** Height ***/

/*** Min height ***/

[data-min-height="xxs"] { min-height:  6px; }
[data-min-height="xs"]  { min-height: 12px; }
[data-min-height="s"]   { min-height: 18px; }
[data-min-height="m"]   { min-height: 24px; }
[data-min-height="l"]   { min-height: 36px; }
[data-min-height="xl"]  { min-height: 42px; }
[data-min-height="xxl"] { min-height: 48px; }
[data-min-height="3xl"] { min-height: 60px; }
[data-min-height="4xl"] { min-height: 72px; }
[data-min-height="5xl"] { min-height: 84px; }

/*** Min height ***/

/*** Min width ***/

[data-min-width="xxs"] { min-width:   6px; }
[data-min-width="xs"]  { min-width:  12px; }
[data-min-width="s"]   { min-width:  18px; }
[data-min-width="m"]   { min-width:  24px; }
[data-min-width="l"]   { min-width:  36px; }
[data-min-width="xl"]  { min-width:  42px; }
[data-min-width="xxl"] { min-width:  48px; }
[data-min-width="3xl"] { min-width:  60px; }
[data-min-width="4xl"] { min-width:  72px; }
[data-min-width="5xl"] { min-width:  84px; }

/*** Min width ***/

/*** Thumbnail height ***/

[data-thumbnail-height="xxs"] { height:  36px; }
[data-thumbnail-height="xs"]  { height:  48px; }
[data-thumbnail-height="s"]   { height:  60px; }
[data-thumbnail-height="m"]   { height:  72px; }
[data-thumbnail-height="l"]   { height:  84px; }
[data-thumbnail-height="xl"]  { height:  96px; }
[data-thumbnail-height="xxl"] { height: 108px; }
[data-thumbnail-height="3xl"] { height: 120px; }
[data-thumbnail-height="4xl"] { height: 132px; }
[data-thumbnail-height="5xl"] { height: 144px; }

/*** Thumbnail height ***/

/*** Thumbnail width ***/

[data-thumbnail-width="xxs"] { width:   36px; }
[data-thumbnail-width="xs"]  { width:   48px; }
[data-thumbnail-width="s"]   { width:   60px; }
[data-thumbnail-width="m"]   { width:   72px; }
[data-thumbnail-width="l"]   { width:   84px; }
[data-thumbnail-width="xl"]  { width:   96px; }
[data-thumbnail-width="xxl"] { width:  108px; }
[data-thumbnail-width="3xl"] { width:  120px; }
[data-thumbnail-width="4xl"] { width:  132px; }
[data-thumbnail-width="5xl"] { width:  144px; }

/*** Thumbnail width ***/

/*** Width ***/

[data-width="xxs"] { width:   6px; }
[data-width="xs"]  { width:  12px; }
[data-width="s"]   { width:  18px; }
[data-width="m"]   { width:  24px; }
[data-width="l"]   { width:  36px; }
[data-width="xl"]  { width:  42px; }
[data-width="xxl"] { width:  48px; }
[data-width="3xl"] { width:  60px; }
[data-width="4xl"] { width:  72px; }
[data-width="5xl"] { width:  84px; }

/*** Width ***/
/***** Size presets *****/
