
[{:birthday "2020-04-20"
  :first-name "Monoset"
  :last-name "#System"
  :locale :en
  :id "q1c9e4fc8-db6e-4efc-9d17-76fbf46f1476"
  :phone-number ""
  :permissions {"super" "ro" "q1c9e4fc8-db6e-4efc-9d17-76fbf46f1476" "rw"}
  :registered-at "2020-04-20T16:20:00.000Z"
  :website-address "monotech.hu"}]
