[{:alias "Deleted directory" 
  :content-size 0 
  :created-at "2021-07-14T07:14:01.196Z" 
  :created-by {:user-account/id "0939329d-b057-ki88-e916-0ce146714c1b"} 
  :deleted-at "2021-07-14T07:24:00.806Z" 
  :deleted-by {:user-account/id "0939329d-b057-ki88-e916-0ce146714c1b"} 
  :description "Not deleted. Moved to bin." 
  :id "b3eaeb03-380e-4065-a5b7-44453a52de2b" 
  :items [] 
  :modified-at "2021-07-14T07:14:01.196Z" 
  :modified-by {:user-account/id "0939329d-b057-ki88-e916-0ce146714c1b"} 
  :path [{:directory/id "home"}] 
  :permissions {"0939329d-b057-ki88-e916-0ce146714c1b" "rw" "admin" "rw"} 
  :tags []} 
 {:alias "Új mappa" 
  :content-size 0 
  :created-at "2021-10-25T19:32:02.845Z" 
  :created-by {:user-account/id "506bb1e5-eecd-48ee-a30c-7b66ee2bb973"} 
  :description "" 
  :id "6441e590-5f5c-4001-a836-87820db790ce" 
  :items [] 
  :modified-at "2021-10-26T13:31:47.679Z" 
  :modified-by {:user-account/id "506bb1e5-eecd-48ee-a30c-7b66ee2bb973"} 
  :path [{:directory/id "home"}] 
  :tags []} 
 {:alias ":my-storage" 
  :content-size 2369407 
  :created-at "2021-07-14T07:14:01.196Z" 
  :created-by {:user-account/id "0939329d-b057-ki88-e916-0ce146714c1b"} 
  :description "This is the home directory" 
  :id "home" 
  :items 
  [{:directory/id "6441e590-5f5c-4001-a836-87820db790ce"} 
   {:file/id "6e9973ec-d982-48ca-8aff-f0efe4b721bb"}] 
  :modified-at "2021-11-01T00:42:41.958Z" 
  :modified-by {:user-account/id "506bb1e5-eecd-48ee-a30c-7b66ee2bb973"} 
  :path [] 
  :permissions {"0939329d-b057-ki88-e916-0ce146714c1b" "rw" "admin" "rw"} 
  :tags []}]