
/* Legal information
 *
 * Monoset Clojure/ClojureScript Library
 * https://monotech.hu/monoset
 *
 * Copyright Adam Szűcs and other contributors - All rights reserved */



/***** Element debug *****/

/* Az .e-element::after pszeudóelem használatával az egyes elemeken
 * az x-debug animáció jelzi azok újrarenderelődését */

/*
@keyframes x-debug {
  from { transform: scale(1) }
  to   { transform: scale(0) }}

.e-element::after {
  animation-duration: .3s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  animation-name: x-debug;
  background-color: rgba(200, 50, 50, .1);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100% }
*/

/***** Element debug *****/
