
/* Legal information
 *
 * Monoset Clojure/ClojureScript Library
 * https://monotech.hu/monoset
 *
 * Copyright Adam Szűcs and other contributors - All rights reserved */



/***** Font weight profiles *****/
/*** Normal ***/

.e-label[data-font-weight="normal"],
.e-text[data-font-weight="normal"] {
  font-weight: 400 }

/*** Normal ***/

/*** Bold ***/

.e-button--body[data-font-weight="bold"],
.e-label[data-font-weight="bold"],
.e-text[data-font-weight="bold"] {
  font-weight: 500 }

/*** Bold ***/

/*** Extra bold ***/

.e-button--body[data-font-weight="extra-bold"],
.e-label[data-font-weight="extra-bold"],
.e-text[data-font-weight="extra-bold"] {
  font-weight: 600 }

/*** Extra bold ***/
/***** Font weight profiles *****/
