
/* Legal information
 *
 * Monoset Clojure/ClojureScript Library
 * https://monotech.hu/monoset
 *
 * Copyright Adam Szűcs and other contributors - All rights reserved */



/***** Position profiles *****/
/*** Horizontal position ***/

.e-element[data-horizontal-position="left"] {
  align-self: flex-start }

.e-element[data-horizontal-position="center"] {
  align-self: center }

.e-element[data-horizontal-position="right"] {
  align-self: flex-end }

/*** Horizontal position ***/

/*** Vertical position ***/
/*** Vertical position ***/
/***** Position profiles *****/
