
; @param (map) server-config
;  {:database-host (string)}
;   :database-name (string)
;   :database-port (integer)
;   :docker-database-host (string)
;   :max-upload-size (B)
;   :storage-capacity (B)}

{; Database details
 :database-host "127.0.0.1"
 :database-name "x"
 :database-port 27017
 :docker-database-host "mongo"

 ; Storage details
 :max-upload-size   1000000000
 :storage-capacity 15000000000}
