
; A fájl tartalomváltozásainak érvénybe lépéséhez szükséges újraindítani
; az applikációt!
;
; A megjegyzések a fájl első írásakor törlődnek!
;
; @param (map) website-config
;  {:meta-description (string)
;   :meta-keywords (strings in vector or string)
;   :meta-name (string)
;   :meta-title (string)
;   :share-preview-uri (string)
;    Recommended preview-size: 1200x630px}
;
; @usage
;  {:meta-keywords ["a" "b" "c"]
;   :meta-keywords "a, b, c"}

{:debug             "Follow the white rabbit"
 :meta-description  "Selling things, making things, doing things ..."
 :meta-keywords     ["selling" "making" "doing"]
 :meta-name         "Mysite.com"
 :meta-title        "Mysite.com – This is what we do"
 :share-preview-uri "/images/share-preview-1200x630.png"}
