
/***** Clickable *****/

/* @usage
 *  [:button {:data-clickable true} "My button"]
 *
 * Ne felejtsd el az on-mouse-up eseményre beállítani, hogy az elem elveszítse a fókuszt! */

[data-clickable="true"]:active,
[data-clickable="true"]:focus {
  opacity: .5 }

/***** Clickable *****/



/***** Disabled *****/

/* @usage
 *  [:button {:data-disabled true} "My button"] */

[data-disabled="true"]::after {
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100% }

[data-disabled="true"] {
  opacity: .5 }

button[data-disabled="true"] {
  cursor: default }

/***** Disabled *****/



/***** Hide scrollbar *****/

/* @usage
 *  [:div {:data-hide-scrollbar true} "My scroll-container"] */

[data-hide-scrollbar="true"] {
  /* Hide scrollbar for IE and Edge */
  -ms-overflow-style: none;
  /* Hide scrollbar for Firefox */
  scrollbar-width: none;
  /* */
  overflow-x: auto }

[data-hide-scrollbar="true"]::-webkit-scrollbar {
  /* Hide scrollbar for Chrome, Safari and Opera */
  display: none }

/***** Hide scrollbar *****/



/***** Selectable *****/

/* @usage
 *  [:p {:data-selectable false} "My unselectable text"] */

[data-selectable="false"] {
  /* user-select not supperted properly in all browsers */
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none }

/***** Selectable *****/
