
/***** *****/

[data-clickable="true"]:active,
[data-clickable="true"]:focus {
  opacity: .5 }

/***** *****/



/***** *****/

[data-disabled="true"]::after {
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100% }

[data-disabled="true"] {
  opacity: .5 }

button[data-disabled="true"] {
  cursor: default }

/***** *****/



/***** *****/

[data-hide-scrollbar="true"] {
  /* Hide scrollbar for IE and Edge */
  -ms-overflow-style: none;
  /* Hide scrollbar for Firefox */
  scrollbar-width: none;
  /* */
  overflow-x: auto }

[data-hide-scrollbar="true"]::-webkit-scrollbar {
  /* Hide scrollbar for Chrome, Safari and Opera */
  display: none }

/***** *****/



/***** *****/

[data-selectable="false"] {
  /* user-select not supperted properly in all browsers */
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none }

/***** *****/
