
/***** Clients *****/
/*** Client list item ***/

.clients--client-item {
  display: flex;
  flex-direction: row }

.clients--client-item--details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100% }

.clients--client-item--primary-details {
  padding: 6px 0 0 12px;
  text-align: left }

.clients--client-item--secondary-details {
  padding: 6px 12px 0 0 }

.clients--client-item--full-name {
  font-size: var( --font-size-s );
  font-weight: 500;
  letter-spacing: var( --letter-spacing-s );
  line-height: 18px }

.clients--client-item--email-address {
  color: var( --color-muted );
  font-size: var( --font-size-xs );
  font-weight: 500;
  letter-spacing: var( --letter-spacing-xs );
  line-height: 18px }

.clients--client-item--modified-at {
  color: var( --color-highlight );
  font-size: var( --font-size-xxs );
  font-weight: 500;
  letter-spacing: var( --letter-spacing-xxs );
  line-height: 18px }

.clients--client--full-name,
.clients--client--email-address,
.clients--client--modified-at {
  /* A nagyon hosszú szavakat akkor lehet {text-overflow: ellipsis} tulajdonsággal
   * megjeleníteni, ha az elem meghatározott (nem százalék alapú) szélességgel rendelkezik.
   * Ezért szükséges a {max-width: 70vw} tulajdonság használata, mert így nagyon kis méretű
   * képernyőkön is eleggé korlátozza a szöveg szélességét, hogy ne foglalhasson a számára
   * rendelkezésre állónál nagyobb helyet viszont emelett nagy méretű képernyőkön használhatja
   * a rendelkezésre álló nagy helyet. */
  max-width: 70vw;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap }

/*** Client list item ***/
/***** Clients *****/



/***** Storage *****/

.storage--media-item {
  align-items: center;
  display: flex }

.storage--media-item--header {
  align-items: center;
  background-color: var( --fill-color );
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  height: 64px;
  justify-content: center;
  margin: 6px 12px;
  overflow: hidden;
  width: 64px }

.storage--media-item--preview {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100% }

/***** Storage *****/
