
/***** Material icons *****/

.item-lister--list-item--checkbox::after,
.sortable--sensor::before {
  font-style: normal;
  font-family: 'Material Icons';
  font-weight: normal;
  letter-spacing: normal;
  overflow: hidden;
  text-transform: none;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased }

/***** Material icons *****/



/***** User select *****/

.item-lister--items--no-items-to-show,
.item-lister--items--request-indicator {
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none }

/***** User select *****/



/***** Item-editor *****/
/*** Form-header ***/

/*** Form-header ***/

/*** Selected colors ***/

.item-editor--selected-colors {
  background-color: var( --fill-color );
  border-radius: var( --border-radius-s );
  display: flex;
  grid-gap: 2px;
  height: 42px;
  margin: 3px;
  overflow: hidden;
  width: 42px }

.item-editor--selected-color {
  flex-grow: 1;
  height: 42px }

/*** Selected colors ***/

/*** Color-stamp ***/

.item-editor--color-stamp {
  background-color: var( --fill-color );
  border-radius: var( --border-radius-s );
  display: flex;
  grid-gap: 1px;
  height: 24px;
  margin: 12px;
  overflow: hidden;
  width: 24px }

.item-editor--color-stamp--color {
  flex-grow: 1;
  height: 24px }

.item-editor--color-stamp-placeholder {
  background-color: var( --background-color-highlight );
  border-radius: var( --border-radius-s );
  height: 24px;
  margin: 12px;
  width: 24px }  

/*** Color-stamp ***/
/***** Item-editor *****/



/***** Item-lister *****/
/*** Item-lister header ***/

#item-lister--header--structure {
   -transition: .15s height;
   width: 100% }

 /* Az .item-lister--header--menu-bar osztályú elemek osztályként és nem egyedi elemként
  * vannak azonosítva, mert a különböző menük közötti átváltáskor előfordul, hogy egyszerre
  * több több menü van a React-fába csatolva. */
.item-lister--header--menu-bar {
  animation-duration: .25s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  background-color: var( --background-color );
  display: flex;
  justify-content: space-between;
  left: 0;
  position: absolute;
  top: 0;
  width: 100% }

.item-lister--header--menu-bar.r-unmounting { animation-name: x-slide-out-ttb }
.item-lister--header--menu-bar.r-mounting   { animation-name: x-slide-in-ttb  }

.item-lister--header--menu-item-group {
  display: flex }

.item-lister--header--item-filters {
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  left: 0;
  position: absolute;
  width: 100% }

/*** Item-lister header ***/

/*** Item-lister body ***/

.item-lister--no-items-to-show,
.item-lister--request-indicator {
  color: var( --color-highlight );
  display: flex;
  font-size: var( --font-size-xs );
  font-weight: 500;
  justify-content: center;
  letter-spacing: var( --letter-spacing-s );
  line-height: 24px }

.item-lister--structure {
  width: 100% }

/*** Item-lister body ***/

/*** Item-lister item-list ***/
/*** Item-lister item-list ***/

/*** Item-lister list-item ***/

/* XXX#7601
 * A {:select-mode? true} beállítással megjelenített listaelemekben a checkbox elemet
 * és a listaelemet szükséges egy flex-level elemben elhelyezni. */
.item-lister--list-item--structure {
  display: flex;
  padding-left: 48px
 }

/* XXX#7601
 * A flex-level elemben elhelyezett block-level vagy flex-level listaelem nem venné fel
 * a rendelkezésre álló szélesség 100%-át, ezért szükséges a listaelemet egy 100% szélességű
 * block-level elemben elhelyezni. */
.item-lister--list-item {
  width: 100% }

.item-lister--list-item[data-disabled="true"] {
  -opacity: .5 }

.item-lister--list-item[data-disabled="true"]::after {
  -content: '';
  -height: 100%;
  -left: 0;
  -position: absolute;
  -top: 0;
  -width: 100% }

.item-lister--list-item--checkbox {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 48px;
}

.item-lister--list-item--checkbox[data-checked="false"]::after {
  content: 'check_box_outline_blank';
  color: var( --color-primary );
  font-size: var( --icon-size-s )
}

/*** Item-lister list-item ***/
/***** Item-lister *****/



/***** Sortable *****/
/*** Sortable sensor ***/

.sortable--sensor {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute }

.sortable--sensor[data-position="left"],
.sortable--sensor[data-position="right"] {
  height: 48px;
  top: calc(50% - 24px);
  width: 48px }

.sortable--sensor[data-position="left"]  { left:  0 }
.sortable--sensor[data-position="right"] { right: 0 }

.sortable--sensor::before {
  content: 'drag_indicator';
  font-size: var( --icon-size-xs );
  height: 24px;
  line-height: 24px;
  text-align: center;
  width: 24px }

/*** Sortable sensor ***/

/*** Drag overlay element ***/

.sortable--drag-overlay-element {
  cursor: grabbing;
  height: 96px;
  transform: translate(-25%, -25%);
  width: 96px;
  z-index: 9999 }

/*** Drag overlay element ***/

/*** Sortable element ***/

.sortable--element[data-drag-status="inactive"]:hover .x-element-container--stickers {
  /* XXX#0134
   * Sortable + app-element stickers:
   * Mivel az .x-sortable--sensor nem az .x-element-container leszármazottja,
   * ezért az .x-sortable--sensor on-mouse-over eseménye elrejtené
   * az .x-element-container--stickers elemet */
  opacity: 1;
  transform: scale( 1 ) }

/*** Sortable element ***/
/***** Sortable *****/
