

/***** Chip-group *****/
/*** Wrapper ***/

.pi-chip-group {
  /* XXX#6668 */
  width: fit-content;
}

/*** Wrapper ***/

/*** Inner ***/

.pi-chip-group--inner {
  display:   flex;
  flex-wrap: wrap;
  gap:       12px;
}

/*** Inner ***/
/***** Chip-group *****/



/***** Combo-box *****/
/*** Combo-box options ***/

.pi-combo-box--options {
  display: flex;
  flex-direction: column;
  max-height: 340px;
}

/*** Combo-box options ***/

/*** Combo-box option ***/

.pi-combo-box--field-content-option,
.pi-combo-box--option {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  padding: 8px 8px;
  text-align: left;
  width: 100%;
}

.pi-combo-box--option[data-highlighted="true"] {
  background-color: var( --fill-color-highlight );
}

.pi-combo-box--option:hover {
  background-color: var( --hover-color-highlight );
}

.pi-combo-box--field-content-option {
  color: var( --text-color-muted )}

/*** Combo-box option ***/
/***** Combo-box *****/



/***** Counter *****/
/*** Wrapper ***/

.pi-counter {
  /* XXX#6668 */
  width: fit-content;
}

/*** Wrapper ***/

/*** Inner ***/

.pi-counter--inner {
  align-items: center;
  display: flex;
  padding-bottom: 6px;
  padding-top: 6px;
}

/*** Inner ***/

/*** Value ***/

.pi-counter--value {
  font-weight: 500;
  line-height: 24px;
  min-width: 64px;
  text-align: center;
}

/*** Value ***/

/*** Button ***/

.pi-counter--decrease-button,
.pi-counter--increase-button,
.pi-counter--reset-button {
  background-color: var( --fill-color-default );
  padding:          8px;
}

.pi-counter--decrease-button::before,
.pi-counter--increase-button::before,
.pi-counter--increase-button::after,
.pi-counter--reset-button::before,
.pi-counter--reset-button::after {
  background-color: var( --text-color-default );
  border-radius: 1px;
  content: '';
  position: absolute;
}

.pi-counter--decrease-button::before,
.pi-counter--increase-button::before,
.pi-counter--reset-button::before {
  height: 2px;
  left: 4px;
  top: 7px;
  width: 8px;
}

.pi-counter--increase-button::after,
.pi-counter--reset-button::after {
  height: 8px;
  left: 7px;
  top: 4px;
  width: 2px;
}

.pi-counter--reset-button {
  margin-left: 12px;
}

.pi-counter--reset-button::before,
.pi-counter--reset-button::after {
  transform: rotateZ( -45deg );
}

/*** Button ***/
/***** Counter *****/



/***** Digit field *****/
/***** Element *****/

.pi-digit-field {
  height: 48px;
}

/***** Element *****/

/***** Wrapper *****/

.pi-digit-field--input {
  color: var( --fill-color-default );
  height: 100%;
  width: 100%;
}

/***** Wrapper *****/

/***** Cover *****/

.pi-digit-field--cover {
  display: flex;
  column-gap: 12px;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.pi-digit-field--cover--digit {
  align-items: center;
  border-color: var( --text-color-highlight );
  border-radius: var( --border-radius-s );
  border-style: solid;
  border-width: 1px;
  cursor: text;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  justify-content: center;
  height: 100%;
  width: 36px;
}

/***** Cover *****/
/***** Digit field *****/



/***** Multi combo-box *****/

.pi-multi-combo-box--inner {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

/***** Multi combo-box *****/



/***** Multi field *****/
/*** Wrapper ***/

.pi-multi-field {
  display: flex;
  flex-direction: column;

  /* Without using a gap, the text-fields might be placed too close to each other. */
  row-gap: 8px;
}

/*** Wrapper ***/
/***** Multi field *****/



/***** Slider *****/
/*** Inner ***/

.pi-slider--inner {
  height: 20px;
}

/*** Inner ***/

/*** Track ***/

.pi-slider--track {
  background-color: var( --fill-color-highlight );
  border-radius: 2px;
  height: 4px;
  left: 0;
  position: absolute;
  top: 8px;
  width: 100%;
}

/*** Track ***/

/*** Line ***/

.pi-slider--line {
  cursor: grab;
  height: 10px;
  opacity: .3;
  position: absolute;
  top: 5px;
}

.pi-slider--line::after {
  background-color: var( --border-color-primary );
  border-radius: 2px;
  content: '';
  height: 4px;
  position: absolute;
  top: 3px;
  width: 100%;
}

/*** Line ***/

/*** Thumb ***/

.pi-slider--thumb {
  background-color: var( --border-color-primary );
  border-radius: 6px;
  cursor: grab;
  height: 20px;
  position: absolute;
  top: 0;
  width: 12px;
}

/*** Thumb ***/
/***** Slider *****/



/***** Text field *****/
/*** Inner ***/

.pi-text-field--inner_ {
  display: flex;
  justify-content: space-between;
}

/*** Inner ***/

/*** Input ***/

.pi-text-field--input-structure_ {
  flex-grow: 1;
}

.pi-text-field--input-emphasize {
  height: 100%;
  width: 100%;
}

.pi-text-field--input_ {
  color:   var( --text-color-default );
  height:  100%;
  padding: 6px 0;
  width:   100%;

  /* The font-weight property doesn't inherited in input elements by default. */
  font-weight: inherit;
}

.pi-text-field--input_[type="date"] {
  cursor: text;
}

textarea.pi-text-field--input_ {
  overflow: hidden;
  resize:   none;
}

/*** Input ***/

/*** Adornments ***/

.pi-text-field--adornments_ {
  padding: 6 12px;
}

.pi-text-field--adornments-placeholder_ {
  cursor: text;
  width: 12px;
}

/*** Adornments ***/

/*** Placeholder ***/

.pi-text-field--placeholder_ {
  color:       var( --text-color-highlight );
  font-weight: 400;
  left:        0;
  max-width:   100%;
  padding:     6px 0;
  position:    absolute;
  top:         0;
}

/*** Placeholder ***/

/*** Surface ***/

.pi-text-field--surface_ {
  background-color: var( --fill-color-default );
  left: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: 9999;

  /* Adding +6px to the surface Y axis offset makes the surface shadow not
   * overlapping with the field border. */
 -top: 36px;
 -top: 42px;

  /* The surface got a relatively positioned wrapper element ... */
  top: 0;
}

/*** Surface ***/

/*** Number field ***/

.pi-text-field--input_::-webkit-outer-spin-button,
.pi-text-field--input_::-webkit-inner-spin-button {
  /* Chrome, Safari, Edge, Opera */
  -webkit-appearance: none;
  margin: 0;
}

.pi-text-field--input_[type="number"][type=number] {
  /* Firefox */
  -moz-appearance: textfield;
}

/*** Number field ***/
/***** Text field *****/
