
/***** Media-browser *****/
/*** List-item ***/

.storage--media-item {
  align-items: center;
  display: flex }

.storage--media-item[data-disabled="true"] {
  opacity: .5 }

.storage--media-item--icon {
  position: absolute;
  right: 12px;
  top: 26px }

.storage--media-item--header {
  align-items: center;
  background-color: var( --fill-color );
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  height: 64px;
  justify-content: center;
  margin: 6px 12px;
  overflow: hidden;
  width: 64px }

.storage--media-item--preview {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100% }



.x-list-item-b {
  display: flex }

.x-list-item-b--header {
  align-items: center;
  background-color: var( --fill-color );
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  height: 64px;
  justify-content: center;
  margin: 6px 12px;
  overflow: hidden;
  width: 64px }

.x-list-item-b--thumbnail {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100% }  

/*** List-item ***/
/***** Media-browser *****/
